<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>당신의 아카이북</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>

<body class="homepage is-preload">
        <div class="main_1">
            <img class="back_ground" src="/images/BG1_bookshelves.jpg">
            <div onclick="downFunction()" id="scrollDownPc" class="hidden-md hidden-sm hidden-xs">
                <img src="/images/down.gif" width="100" height="100">
            </div>

            <script>
                document.getElementById("scrollDownPc").style.display = "block";

                function downFunction() {
                    $('html, body').animate({ scrollTop: $('#main_2').offset().top }, 500);
                }
            </script>
        </div>

        <header>
            <h1>
                <form action="#" method="POST">
                    ArchiBook
                </form>
            </h1>
            <nav>
                <span>
                    <form action="#" method="POST">
                        <div class="search">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                        </div>
                    </form>
                </span>
                <span>
                    <form action="#" method="POST">
                        <div class="subscribe" id="btn_group">
                            <button id="subscribe">구독하기</button>
                        </div>
                    </form>
                </span>

                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">
                        <img class="hamberger_btn" src="/images/hamburger_btn_2.png">
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>

                <script>
                    function myFunction() {
                        document.getElementById("myDropdown").classList.toggle("show");
                    }

                    window.onclick = function(event) {
                        if (!event.target.matches('.dropbtn')) {

                            var dropdowns = document.getElementsByClassName("dropdown-content");
                            var i;
                            for (i = 0; i < dropdowns.length; i++) {
                                var openDropdown = dropdowns[i];
                                if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                }
                            }
                        }
                    }
                </script>
            </nav>
        </header>







        <div class="main_2" id="main_2">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/bookImages/01dream2.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01fully.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01imagine.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01midnight.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01tonight.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01imagine.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02dream.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02handson.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02why.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02yoriko.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03express.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03franken.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03onebook.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03swan.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/04clean.jpg"></div>
                </div>

                <!-- 네비게이션 -->
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->

                <!-- 페이징 -->
                <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/bookImages/01dream2.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01fully.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01imagine.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01midnight.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01tonight.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/01imagine.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02dream.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02handson.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02why.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/02yoriko.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03express.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03franken.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03onebook.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/03swan.jpg"></div>
                    <div class="swiper-slide"><img src="/bookImages/04clean.jpg"></div>
                </div>

                <!-- 네비게이션 -->
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->

                <!-- 페이징 -->
                <div class="swiper-pagination"></div>
            </div>

            <script>

                new Swiper('.swiper-container', {

                    slidesPerView : 5, // 동시에 보여줄 슬라이드 갯수
                    spaceBetween : 10, // 슬라이드간 간격
                    slidesPerGroup : 5, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

                    // 그룹수가 맞지 않을 경우 빈칸으로 메우기
                    // 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
                    loopFillGroupWithBlank : true,

                    loop : true, // 무한 반복

                    pagination : { // 페이징
                        el : '.swiper-pagination',
                        clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
                    },
                    navigation : { // 네비게이션
                        nextEl : '.swiper-button-next', // 다음 버튼 클래스명
                        prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
                    },
                });

            </script>
        </div>





        <div class="main_3">
            <h1>북카드</h1>
            <h3>기북천사가 추천하는 장르별 책을 소개</h3>
            <table class="book_card_box">
                <tr>
                    <th><img class="book_card" alt="" src="/bookImages/3humanities.jpg" ></th>
                    <th><img class="book_card" alt="" src="/bookImages/4novel.jpg" ></th>
                    <th><img class="book_card" alt="" src="/bookImages/5society.jpg" ></th>
                    <th><img class="book_card" alt="" src="/bookImages/3humanities.jpg" ></th>
                </tr>
            </table>
        </div>





        <div class="main_4" id="main_4">
            <div class="contribution_list">
                <table class="list">
                    <thead>
                    <tr>
                        <th>기관명</th><th>전화번호</th><th>사이트 주소</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    <tr>
                        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>