<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>당신의 아카이북</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../static/css/main.css">

</head>

<body class="homepage is-preload">
    <!-- 파일 모든 경로 영어로 하기 --> 
    <!-- 메인 -->
    <div class="frame">
        <div class="main_1">
            <img src="../../static/bookImages/BG1_bookshelves.jpg">
        </div>

        <header>
            <h1>
                <form action="#" method="POST">
                    ArchiBook
                </form>
            </h1>
            <nav>
                <span>
                    <form action="#" method="POST">
                        <div class="search">
                            <input name="search" type="text" placeholder="검색어 입력" value="">
                            <button><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                        </div>
                    </form>
                </span>
                <span>
                    <form action="#" method="POST">
                        <div class="describe" id="btn_group">
                            <button id="describe">구독하기</button>
                        </div>
                    </form>
                </span>
                <ul class="menu">
                    <li>
                        <a href="#">Menu</a>
                        <ul class="menu_1">
                            <li><a href="#">내 정보 보기</a></li>
                            <li><a href="#">회원정보 수정</a></li>
                            <li><a href="#">신청게시판</a></li>
                            <li><a href="#">회원탈퇴</a></li>
                        </ul>
                        <!-- <span>menu3</span> -->
                        <ul class="menu_2">
                            <li><a href="#">마이페이지...</a></li>
                            <li><a href="#">Q&A</a></li>
                            <li><a href="#">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- <span>menu3</span> -->
            </nav>
        </header>

        <!-- <nav>
            <h2 class="hidden">카테고리</h2>
                <ul class="gnb">
                    <li><a href="main_2">main2</a></li>
                </ul>
        </nav> -->
        
        <div class="down_btn" id="main_2 ">
            <section id="main_2">
                <a href="#main_2" id="down_btn"><img class="down_btn" src="..\..\static\images\down.gif" alt="down_btn" id="down_btn_img"></a>
            </section>
        </div>


        <div class="main_2" id="main_2">
            <div>
                <table class="book_images_1">
                    <tr>
                        <td><img class="prev" alt="" src="..\..\static\images\arrow-prev.png"></td>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\01dream2.jpg" ></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\01fully.jpg"></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\01midnight.jpg"></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\01tonight.jpg"></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\02dream.jpg"></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\02handson.jpg"></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\02why.jpg"></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\02yoriko.jpg"></th>
                        <th><img class="book_image_1" alt="" src="..\..\static\bookimages\03express.jpg"></th>
                        <td><img class="next" alt="" src="..\..\static\images\arrow-next.png"></td>
                    </tr>
                </table>
            </div>

            <div>
                <table class="book_images_2">
                    <tr>
                        <th><img class="prev" alt="" src="..\..\static\images\arrow-prev.png"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\01dream2.jpg" ></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\01fully.jpg"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\01midnight.jpg"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\01tonight.jpg"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\02dream.jpg"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\02handson.jpg"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\02why.jpg"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\02yoriko.jpg"></th>
                        <th><img class="book_image_2" alt="" src="..\..\static\bookimages\03express.jpg"></th>
                        <th><img class="next" alt="" src="..\..\static\images\arrow-next.png"></th>
                    </tr>
                </table>
            </div>
        </div>

       <div class="main_3" id="main_3">
            <table>
                <tr class="book_cards_2">
                    <th>소설</th>
                    <th>여행</th>
                    <th>인문</th>
                    <th>장르4</th>
                    <th>정치/사회</th>
                    <tr>
                        <td><img class="book_card" alt="" src="..\..\static\bookimages\1knovel.jpg"></td>
                        <td><img class="book_card" alt="" src="..\..\static\bookimages\1knovel.jpg"></td>
                        <td><img class="book_card" alt="" src="..\..\static\bookimages\1knovel.jpg"></td>
                        <td><img class="book_card" alt="" src="..\..\static\bookimages\1knovel.jpg"></td>
                        <td><img class="book_card" alt="" src="..\..\static\bookimages\1knovel.jpg"></td>
                    </tr>
                </tr>
            </table>
       </div>
        
        <div class="main_4" id="main_4">
            <div class="contribution_list">
                <table>
                    <th colspan="3">기북천사와 함꼐하는 친구들은 99명입니다.</th>
                    <tr>
                        <th>기관명</th>
                        <th>전화번호</th>
                        <th>사이트 주소</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>7</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>8</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>