<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.archibook.mappers.MemberMapper">
    <insert id="insert">
        INSERT INTO BOOK_MEMBER
        (MEMBERNUM, MEMBERID, MEMBERPW, MEMBERNAME, MEMBERTEL, MEMBEREMAIL, MEMBERZIPCODE, MEMBERADDRESS, MEMBERADDRESSDETAIL, MEMBERADDRESSETC, MEMBERSTATUS, MEMBERTYPE)
        VALUES(MEMBER_SEQ.NEXTVAL, #{memberId}, #{memberPw}, #{memberName}, #{memberTel}, #{memberEmail}, #{memberZipcode}, #{memberAddress}, #{memberAddressDetail}, #{memberAddressEtc}, #{memberStatus}, #{memberType})
    </insert>
    <select id="count" resultType="_int">
       SELECT COUNT(MEMBERNUM)
        FROM BOOK_MEMBER
        WHERE MEMBERID = #{memberId}
    </select>
    <select id="select" resultType="memberVO">
        SELECT *  FROM BOOK_MEMBER
        WHERE MEMBERID = #{memberId} AND MEMBERPW = #{memberPw}
    </select>

</mapper>