<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아카이북 | 달러구트의 꿈백화점2</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bookViewer2.css" />

    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">
</head>
<style>
    .pageSt{
        font-size: 13px;
        padding: 0 2em  0;
        text-align: left;"
    }
</style>
<body>
<div class="book">
    <div id="pages" class="pages">
        <div class="page"><img src="/images/dream22.jpg" style="width: 45vw; height: 67vw;"></div>
        <div class="page">
            <p style="font-size: 20px; font-family: 'Gowun Dodum', sans-serif;"><br><br><br>목차<br><br>
            <pre style="text-align: left;font-family: 'Gowun Dodum', sans-serif; ">
            I.페니의 첫 번째 연봉협상<br>
            II.민원관리국<br>
            III.와와 슬립랜드와 꿈 일기를 쓰는 남자<br>
            IV.테스트 센터의 촉각 코너<br>
            V.비수기의 산타클로스</pre></p>
        </div>
        <div class="page">
            <p class="pageSt">
                I.페니의 첫 번째 연봉협상<br>
                달러구트 꿈 백화점으로부터 남쪽으로 1km가량 떨어진 주택가에서 부모님과 함께 사는 페니는 아직 잠자리에 들기 전이었다.
                그녀는 꿈 백화점의 1층 프런트에서 일하는 직원으로, 입사 1주년을  맞이해 부모님과 작은 축하 파티 겸 늦은 저녁 식사를 하는 중이었다.
                "1년 동안 적응하느라 고생 많았어. 네가 정말 자랑스럽다, 페니. 이건 우리가 준비한 선물이야."
                페니의 아빠가 열 권 정도 되는 책들을 식탁 위에 힘겹게 올려놓았다, 전부 사회 초년생을 위한 자기계발 서적과 에세이였다.
                이걸 다 읽을 시간이 있을지 모르겠어요. 제 하루는 48시간이 아닌걸요."
                페니가 투박한 노끈으로 엮인 리본 매듭을 풀면서 말했다.
                "그건 그렇고 기쁜 소식이 있어요. 잊에 일한 지 1년이 지나서 국가에서 인정하는 '꿈 산업 종사자'가 됐어요."
                "그럼 혹시?"
                "네, 맞아요! 서쪽에 있는 '컴퍼니 구역'에 들어갈 수 있는 출입증이 나온대요.
                게다가 내일은 직원 한 명씩 따로 연봉협상을 할 거래요. 아마 내일 연봉협상 때 달러구트 님께서 출입증을 주실지도 몰라요.
            </p>
        </div>
        <div class="page">
            <p class="pageSt">
                "내 평생 출근 열차 타고 컴퍼니 구역에 드나드는 사람들을 부러워했는데, 우리 딸이 가게 되었다니..."
                아빠는 페니와 꼭 닮은 눈으로 딸을 바라보다가 감격에 겨워 말을 잇지 못했다.
                "컴퍼니 구역에서 일하는 사람들보다 달러구트 꿈 백화점에서 일하는게 훨씬 멋지지. 그런데 컴퍼니 구역에 가면 넌 무슨일을 하게 되는 거래?"
                엄마가 크림소스가 묻은 입가를 닦으면서 물었다.
                "잘 모르겠어요. 외근 나가는 거니까 제작자들을 만나거나 하겠죠? 예전에 야스누즈 오트라의 저택에도 갔었거든요. 컴퍼니 구역에는 꿈 제작사도 많고 제작자들도 많으니까 여러 가지 심부름을 하게 될 것 같아요."
                페니는 전설의 꿈 제작자 중 한 명인 야스누즈 오트라의 집에 '타인의 삶 : 체험판'이라는 꿈을 가지러 방문한 적이 있었다.
                "쪼그맣던 녀석이 언제 이렇게 커서···. 그런데 거기 가서는 사고 치면 안 된다."
                "그래. 이제는 작년처럼 큰 실수는 하면 안 돼. 항상 정신 똑바로 차리고···."
                페니는 체할 것 같은 얼굴로 고개를 끄덕였다. 얼마 전부터 부모님의 잔소리가 부쩍 늘었다. 경찰에서 '설렘'을 훔쳐 간   </p>
        </div>
        <div class="page">
            <p class="pageSt">
                범인을 잡았다며 피해 내용 확인을 위해 집으로 전화를 했는데, 하필 그 전화를 페니의 엄마가 받는 바람에 일하다가 '설렘'한 병을 도둑맞았던 사연을 털어놓을 수밖에 없었다. 그 후로 어찌나 귀가 따갑게 잔소리를 들었는지, 페니는 직장에서의 일을 입 밖에 내지 않기로 다짐했다.
                페니는 거세게 몰아치는 잔소리의 폭풍을 힘겹게 받아내면서, 새장만큼 몸집이 불어났지만 한 번도 새장 밖으로 날아보지 못한 가엾은 앵무새가 된 기분으로 '걱정하지 마세요.', '전 멍청이가 아니라니까요.'라는 말만 한참을 반복하다가 식사를 하기 전보다 핼쑥해진 얼굴로 자리에서 일어났다.
                "그럼 두 분은 천천히 시간 보내시고요. 전 이만 방에 들어갈게요."페니는 부모님에게 받은 책더미를 안고 방으로 들어와 책상 위에 와르르 쏟아내듯이 내려놓았다. 책꽂이에는 새로운 책이 들어갈만한 공간이 없었다. 그녀는 잠시 고민하다가 취업 준비생 시절에 풀었던 문제집들을 과감하게 골라내기 시작했다.
                "이제 버려도 되겠지."  페니는 끝까지 풀지 못한 문제집 한 권을 펼졌다.
            </p>
        </div>
        <div class="page">
            <p class="pageSt">
                깨끗하게 답을 지울 수 있다면 필요한 사람에게 처분할까 싶었지만, 문제마다 볼펜으로 죽죽 그어져 있었다.
                실망스럽게 페이지를 넘기던 그녀의 시선이 마지막으로 푼 흔적이 있는 문제에 멈췄다. 그건 면접 준비에 여념이 없던 1년 전, 카페 2층에서 그녀의 친구인 녹틸루카 아쌈이 정답을 알려주었던 문제였다.
                <br><br> Q. 다음 중 1999년도 '올해의 꿈 시상식'에서 심사위원 만장일치로 그랑프리를 수상한 꿈과 그 제작자로 옳은 것을 고르시오.<br>

                a. 킥 슬럼버 - '태평양을 가로지르는 범고래가 되는 꿈'<br>
                b. 야스누즈 오트라 - '부모님으로 일주일간 살아보는 꿈'<br>
                c. 와와 슬립랜드 - '우주를 유영하며 지구를 바라보는 꿈'<br>
                d. 도제 - '역사 속 인물과 티타임을 가지는 꿈'<br>
                e. 아가냅 코코 - '난임 부부의 세쌍둥이 태몽'<br><br>

                문제를 보는 순간 그때의 상황과 기분이 어제 일처럼 선명
            </p>
        </div>
        <div class="page">
            <p class="pageSt">
                하게 떠올랐다. 페니는 정답을 정확히 기억하고 있었다.
                "정답은 a. 13살 킥 슬럼버의 데뷔작이지."
                페니는 자신 있는 미소를 지으면서 중얼거린 후 소리나게 문제집을 탁 덮었다.면접 준비를 하던 카페에서의 그날로부터 지난 1년 동안 일어났던 일들이 머릿속을 빠르게 휘감고 지나갔다. 어느 때보다 충만한 시간을 보냈다는 생각에 마음 깊이 뿌듯함이 차올랐다. 슬슬 프런트의 일도 손에 익어가고, 꽤 많은 것을 배웠다는 생각에 제법 자신감이 붙은 상태였다.
                페니는 자신이 알고 있는 것이 꿈 백화점에서 벌어지는 일의 극히 일부에 지나지 않는다는 사실을 전혀 모른 채, 콧노래를 부르며 책장을 정리했다. 그렇게 페니의 입사 1주년의 밤이 저물고 있었다.
            </p>
        </div>
        <div class="page"></div>
    </div>
</div>
</body>
<script  th:inline="javascript">
    var pages = document.getElementsByClassName('page');
    for(var i = 0; i < pages.length; i++)
    {
        var page = pages[i];
        if (i % 2 === 0)
        {
            page.style.zIndex = (pages.length - i);
        }
    }

    document.addEventListener('DOMContentLoaded', function(){
        for(var i = 0; i < pages.length; i++)
        {
            //Or var page = pages[i];
            pages[i].pageNum = i + 1;
            pages[i].onclick=function()
            {
                if (this.pageNum % 2 === 0)
                {
                    this.classList.remove('flipped');
                    this.previousElementSibling.classList.remove('flipped');
                }
                else
                {
                    this.classList.add('flipped');
                    this.nextElementSibling.classList.add('flipped');
                }
            }
        }
    })
</script>
</html>