<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아카이북 | 검색결과</title>
    <meta charset="utf-8" />

    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

</head>
<style>
    /* body 기본 폰트 전체 적용 */
    body {
        font-family: 'Gowun Dodum', sans-serif;
    }
</style>
<body class="no-sidebar is-preload">
<div id="page-wrapper">




    <!-- Main -->
    <div id="main">
        <div class="wrapper">
            <div class="inner">


                <!-- Banner -->
                <section id="banner">
                    <header>
                        <h2>검색결과</h2>
                        <p>
                            "  "에 대한 검색결과입니다.
                        </p>
                    </header>
                </section>

            </div>
        </div>
    </div>



</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>


</body>

</html>