<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer_1</title>
    <link rel="stylesheet" href="/css/Viewer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet">
</head>






<body>


    <img class= "gdpicture" src="/images/gildong.jpg" alt="My Image">
    <br><br><br><br><br><br><br><br><br><br><br>
    <!--원본  : <br><br><br><br><br><br><br><br><br><br><br>-->
    <div>

    </div>
    <div id="honggildong"> 
        조선국 세종대왕 즉위 십오년에 홍회문 밖에 한 재상이 있으되, 성은 홍이요, 명은 문이니, 위인이 청렴강직하여 덕망이 거룩하니 당세의 영웅이라. 일찍 용문에 올라 벼슬이 한림에 처하였더니 명망이 조정의 으뜸 되매, 전하 그 덕망을 승이 여기사 벼슬을 돋우어 이조판서로 좌의정을 하이시니, 승상이 국은을 감동하여 갈충보국하니 사방에 일이 업고 도적이 없으매 시화연풍하여 나라가 태평하더라.

일일은 승상 난간에 비겨 잠깐 졸더니, 한풍이 길을 인도하여 한 곳에 다다르니, 청산은 암암하고 녹수는 양양한데 세류 천만 가지 녹음이 파사하고, 황금 같은 꾀꼬리는 춘흥을 희롱하여 양류간에 왕래하며 기화요초 만발한데, 청학 백학이며 비취 공작이 춘광을 자랑하거늘, 승상이 경물을 구경하며 점점 들어가니, 만장절벽은 하늘에 닿았고, 굽이굽이 벽계수는 골골이 폭포되어 오운이 어리었는데, 길이 끊어져 갈 바를 모르더니, 문득 청룡이 물결을 헤치고 머리를 들어 고함 하니 산학이 무너지는 듯 하더니, 그 용이 입을 벌리고 기운을 토하여 승상의 입으로 들어오거늘, 깨달으니 평생 대몽이라. 내염에 헤아리되 "필연 군자를 낳으리라." 하여, 즉시 내당에 들어가 시비를 물리치고 부인을 이끌어 취침코자 하니, 부인이 정색 왈,

"승상은 국지재상이라, 체위 존중하시거늘 백주에 정실에 들어와 노류장화같이 하시니 재상의 체면이 어디에 있나이까?"

승상이 생각하신 즉, 말씀은 당연하오나 대몽을 허송할까 하여 몽사를 이르지 아니하시고 연하여 간청하시니, 부인이 옷을 떨치고 밖으로 나가시니, 승상이 무료하신 중에 부인의 도도한 고집을 애달아 무수히 차탄하시고 외당으로 나오시니, 마침 시비 춘섬이 상을 드리거늘, 좌우 고요함을 인하여 춘섬을 이끌고 원앙지낙을 이루시니 적이 울화를 덜으시나 심내에 못내 한탄하시더라.

춘섬이 비록 천인이나 재덕이 순직한지라, 불의에 승상의 위엄으로 친근하시니 감이 위령치 못하여 순종한 후로는 그날부터 중문 밖에 나지 아니하고 행실을 닦으니 그달부터 태기있어 십삭이 당하매 거처하는 방에 오색운무 영롱하며 향내 기이하더니, 혼미중에 해태하니 일개 기남자라. 삼일 후에 승상이 들어와 보시니 일변 기꺼우나 그 천생됨을 아끼시더라. 이름을 길동이라 하니라.

이 아이 점점 자라매 기골이 비상하여 한 말을 들으면 열 말을 알 고, 한 번 보면 모르는 것이 없더라. 일일은 승상이 길동을 데리고 내당에 들어가 부인을 대하여 탄식 왈,

"이 아이 비록 영웅이나 천생이라 무엇에 쓰리오. 원통하도다. 부인의 고집이여, 후회막급이로소이다.“

부인이 그 연고를 묻자오니, 승상이 양미를 빈축하여 왈,

"부인이 전일에 내 말을 들으셨던들 이 아이 부인 복중에 낳을 것을 어찌 천생이 되리요.“

인하여 몽사를 설화하시니, 부인이 추연 왈,

"차역 천수오니 어찌 인력으로 하오리까.“

세월이 여류하여 길동의 나이 팔세라. 상하 다 아니 칭찬할 이 없고 대감도 사랑하시나, 길동은 가슴의 원한이 부친을 부친이라 못하고 형을 형이라 부르지 못하매 스스로 천생됨을 자탄하더니, 칠월 망일에 명월을 대하여 정하에 배회하더니 추풍은 삽삽하고 기러기 우는 소리는 사람의 외로운 심사를 돕는지라. 홀로 탄식하여 왈,

"대장부 세상에 나매 공맹의 도학을 배워 출장입상하여 대장인수를 요하에 차고 대장단에 높이 앉아 천병만마를 지휘중에 넣어두고, 남으로 초를 치고, 북으로 중원을 정하며, 서로 촉을 쳐 사업을 이룬 후에 얼굴을 기린각에 빛내고, 이름을 후세에 유전함이 대장부의 떳떳한 일이라. 옛 사람이 이르기를 ‘왕후장상이 씨없다.’ 하였으니 나를 두고 이름인가. 세상 사람이 갈관박이라도 부형을 부형이라 하되 나는 홀로 그렇지 못하니 어떤 인생으로 그러한고.“

울억한 마음을 걷잡지 못하여 칼을 잡고 월하에 춤을 추며 장한 기운 이기지 못하더니, 이때 승상이 명월을 사랑하여 창을 열고 비겼더니, 길동의 거동을 보시고 놀래 가로되,

"밤이 이미 깊었거늘 네 무슨 즐거움이 있어 이러하느냐?“

길동이 칼을 던지고 부복 대왈,

“소인은 대감의 정기를 타 당당한 남자로 낳사오니 이만 즐거운 일이 없사오되, 평(생) 설워하옵(기)는 아비를 아비라 부르지 못하옵고, 형을 형이라 못하여 상하 노복이 다 천히 보고, 친척 고두도 손으로 가르쳐 아무의 천생이라 이르오니 이런 원통한 일이 어디에 있사오리까?”

인하여 대성통곡하니, 대감이 마음에 긍측이 여기시나 만일 그 마음을 위로하면 일로조차 방자할까 하여 꾸짖어 왈.

“재상의 천비 소생이 너 뿐 아니라. 자못 방자한 마음을 두지 말라. 일후에 다시 그런 말을 번거이 한 일이 있으면 눈 앞에 용납치 못하리라.”

하시니, 길동은 한갓 눈물 흘릴 뿐이라. 이윽히 엎드려있더니, 대감이 물러가라 하시거늘, 길동이 돌아와 어미를 붙들고 통곡 왈,

“모친은 소자와 전생연분으로 차생에 모자 되오니 구로지은을 생각하오면 호천망극하오나, 남아가 세상에 나서 입신양명하여 위로 향화를 받들고, 부모의 양육지은을 만분의 하나라도 갚을 것이거늘, 이 몸은 팔자 기박하여 천생이 되어 남의 천대를 받으니, 대장부 어찌 구구히 근본을 지키어 후회를 두리요. 이 몸이 당당히 조선국 병조판서 인수를 띠고 상장군이 되지 못할진대, 차라리 몸을 산중에 붙여 세상영욕을 모르고자 하오니, 복망 모친은 자식의 사정을 살피사 아주 버린 듯이 잊고 계시면 후일에 소자 돌아와 오조지정을 이를 날 있사오니 이만 짐작하옵소서."

하고, 언파에 사기 도도하여 도리어 비회 없거늘. 그 모 이 거동을 보고 개유하여 왈,

"재상가 천생이 너뿐 아니라. 무슨 말을 들었는지 모르되 어미의 간장을 이다지 상케 하느냐? 어미의 낮을 보아 아직 있으면 내두에 대감이 처결하시는 분부 없지 아니하리라.“

길동이 가로되,

"부형의 천대는 고사하옵고, 노복이며 동유의 이따금 들리는 말이 골수에 박히는 일이 허다하오며, 근간에 곡산모의 행색을 보오니 승기자를 염지하여 과실없는 우리 모자를 구수같이 보아 살해 해할 뜻을 두오니 불구에 목전대환이 있을지라. 그러하오나 소자 나간 후 이라도 모친에게 후환이 미치지 아니케 하오리다.“

그 어미 가로되.

"네 말이 자못 그러하나 곡산모는 인후한 사람이라. 어찌 그런 일이 있으리요?"

길동 왈,

"세상사를 측량치 못하나이다. 소자의 말을 헛되이 생각지 마시고 장래를 보읍소서.“

하더라.

원래 곡산모는 곡산 기생으로 대감의 총첩이 되어 뜻이 방자하기로, 노복이라도 불합한 일이 있으면 한 번 참소에 사생이 관계하여 사람이 못되면 기뻐하고 승하면 시기하더니, 대감이 용몽을 얻고 길동을 낳아 사람마다 일컫고 대감이 사랑하시매, 일후 총을 앗길까 하며, 또한 대감이 이따금 희롱하시는 말씀이 "너도 길동같은 자식을 낳아 나의 모년재미를 도우라." 하시매, 가장 무료하여 하는 중에 길동의 이름이 날로 자자하므로 초낭 더욱 크게 시기하여 길동 모자를 눈의 가시같이 미워하여 해할 마음이 급하매, 흉계를 짜아내어 재물을 흩어 요괴로운 무녀 등을 불러 모의말 말하고 축일왕래하더니, 한 무녀 가로되,

"동대문 밖에 관상하는 계집이 있으되, 사랑의 상을 한 번 보면 평생 길흉화복을 판단하오니, 이제 청하여 약속을 정하고 대감전에 천거하여 가중 전후사를 본 듯이 이른 후에 인하여 길동의 상을 보고 여차여차히 아뢰어 대감의 마음을 놀래면 낭자의 소회를 이룰까 하나이다.“

초낭이 대희하여, 즉시 관상녀에계 통하여 재물로써 달래고, 대감댁 일을 낱낱이 가르치고, 길동 제거할 약속을 정한 후에 날을 기약하고 보내니라.

일일은 대감이 내당에 들어가 길동을 부른 후에 부인을 대하여 가로되,

"이 아이 비록 영웅의 기상이 있으나 어디다 쓰리요.“

하시며 희롱하시더니, 문득 한 여자 밖으로부터 들어와 당하에 뵈거늘, 대감이 괴히 여겨 그 연고를 물으신대, 그 여자 복지 주왈.

"소녀는 동대문 밖에 사옵더니, 어려서 한 도인을 만나 사람의 상보는 법을 배운 바 두루 다니며 관상차로 만호장안을 편람하옵고, 대감댁 만복을 높이 듣고 천한 재주를 시험코자 왔나이다.“

대감이 어찌 요괴로운 무녀를 대하여 문답이 있으리요마는 길동을 희롱하시던 끝인 고로 웃으시며 왈,

“네 암커나 가까이 올라 나의 평생을 확론하라.“

하시니, 관상녀 국궁하고 당에 올라 먼저 대감의 상을 살핀 후에 이왕지사를 역역히 아뢰며 내두사를 보는 듯이 논단하니, 호발도 대감의 마음에 위월한 마디 없는지라. 대감이 크게 칭찬하시고 연하여 가중 사람의 상을 의논할새, 낱낱이 본 듯이 평론하여 한 말도 허망한 곳이 없는지라. 대감과 부인이며 좌중제인이 대혹하여 신인이라 일컫터라. 끝으로 길동의 상을 의논할새, 크게 칭찬 왈,

"소녀가 열읍에 주류하며 천만인을 보았으되 공자의 상같은 이는 처음이려니와 알지 못게라, 부인의 기출이 아닌가 하나이다.“

대감이 속이지 못하여 왈,

"그는 그러하거니와 사람마다 길흥영욕이 각각 때있나니 이 아이 상을 각별 논단하라.“

하니, 상녀가 이윽히 보다가 거짓 놀라는 체 하거늘, 괴히 여겨 그연고를 물으신대 함구하고 말이 없거늘, 대감이 가로되,

"길흉을 호발도 기이지 말고 보이는 대로 의논하여 나의 의흑이 없게 하라.“

관상녀 가로되,

"이 말씀을 바로 아뢰면 대감의 마음을 놀래일까 하나이다.“

대감 왈,

"옛날 곽분양같은 사람도 길한 때 있고 흉한 때있었으니 무슨 여러 말이 있느냐? 상법 보이는 대로 기이 말라.“

하시니. 관상터 마지 못하혀 길동을 치운 후에 그윽히 아뢰되,

"공자의 내두사는 여러 말씀 버리옵고 성즉 군왕지상이요, 패즉 측량치 못할 환이 있나이다.“

한대, 대감이 크계 놀래어 (이)윽히 진정란 후에 상녀를 후이 상급하시고 가로되,

"이같은 말을 삼가 발구치 말라.“

엄히 분부하시고, 왈,

"제 늙도록 출입치 못하게 하리라.“

하시니, 상녀 왈,

"왕후장상이 어디 씨 있으리까?“

대감이 누누당부하시니, 관상녀 공수 수명하고 가니라.

대감이 이 말을 들으신 후로 내념에 크게 근심하사 일념에 생각하시되, “이놈이 본래 범상한 놈이 아니요, 또 천생됨을 자탄하여 만일 범람한 마음을 먹으면 누대 갈충보국하던 일이 쓸데없고 대화 일문에 미치리니 미리 저를 없애어 가화를 덜고자 하나 인정에 차마 못할 바라.” 생각이 이러한즉 선처할 도리없어 일념이 병이 되어 식불감 침불안하시는지라. 초낭이 기색을 살핀 후에 승간하여 여쭈오되,

"길동이 관상년의 말씀같이 왕기 있어 만일 범람한 일이 있사오면 가화 장차 측량치 못할지라. 어리석은 소견은 적은 혐의를 생각지 마시고 큰 일을 생각하여 저를 미리 없이 함만 같지 못할까 하나이다.“

대감이 대책 왈,

"이 말을 경솥히 할 바가 아니거늘, 네 어쩌 입을 지키지 뭇하느냐? 도시 내 집 가운을 네 알 바가 아니라.“

하시니, 초낭이 황공하여 다시 말씀을 못하고, 내당에 들어아 부인과 대감의 장자를 대하여 여쭈오되,

"대감이 관상녀의 말씀을 들으신 후로 사념에 선처하실 도리 없사와 침식이 불안하시더니 일념의 병환이 되시기로 소인이 일전에 여차여차한 말씀을 아뢰온즉 꾸중이 났는 고로 다시 여쭙지 못하였거니와, 소인이 대감의 마음을 취택하온즉 대감께서도 저를 미리 없애고자 하시되 차바 거처치 못하오니, 미련한 소견으로는 선처할 모책이 길동을 먼저 없앤 후에 대감께 아뢰면 이미 저질러진 일이라 대감께서도 어찌 할 수 업사와 마음을 아주 잊을까 하옵나이다."

부인이 빈축 왈,

"일은 그러하거니와 인정천리에 차마 할 바가 아니라.“

하시너, 초낭이 다시 어쭈오되,

“이 일이 여러가지 관계하오니, 하나는 국가를 위함이요, 둘은 대감의 환후를 위함이요, 셋은 홍씨 일문을 위함이오니, 어찌 적은 사정으로 우유부단하여 여러가지 큰 일을 생각지 아니하시다가 후회막급이 되오면 어리 하오리까?”

하며, 만단으로 부인과 대감의 장자를 달래니, 마지 못하여 허락하시거늘, 초낭이 암회하여 나와 특자라 하는 자객을 청하여 수말을 다 전하고 은자를 많이 주어 오늘 밤에 길동을 해하라 약속을 정하고, 다시 내당에 들어가 부인전에 수말을 여쭈오니, 부인이 들으시고 발을 구르시며 못내 차석하시더라.

이때의 길동은 나이 십일세라. 기골이 장대하고, 총맹이 절륜하며, 시서백가어를 무불통지하나, 대감 분부에 바깥 출입을 막으시매, 홀로 별당에 처하여 손오의 병서를 통리하여 귀신도 즉량치 못하는 술법이며 천지조화를 품어 풍운을 임의로 부리며, 육정육갑이 신장을 부려 신출귀몰지술을 통달하니 세상에 두려운 것이 없더라. 이날 밤 삼경이 된 후에 장차 서안을 물리치고 취침하려 하더니 문득 창 밖에서 까마귀 세 번 울고 서로 날아가거늘, 마음에 놀래 해혹하니, “까마귀 세 번 ‘객자와 객자와’ 하고 서로 날아가니 분명 자객이 오는지라. 어떤 사람이 나를 해코자 하는고? 암커나 방신지계를 하니라.” 하고, 방중에 팔진을 치고 각각 방위를 바꾸어, 남방의 이허중은 북방의 감중련에 옮기고, 동방 진하련은 서방 태상절에 옮기고, 건방의 건삼련은 손방 손하절에 옮기고, 곤방의 곤삼절은 간방 간상련에 옮겨, 그 가운데 풍운을 넣어 조화무궁페 벌리고 때를 기다리니다.

이때에 특자 비수를 들고 길동 거처하는 별당에 가서 몸을 숨기고 그 잠들기를 기다리더니, 난데없는 까마귀 창 밖에 와 울고 가거늘 마음에 크게 의심하여 왈,

“이 짐승이 무슨 앎이 있어 천기를 누설하는고? 길동은 실로 범상한 사람이 아니로다. 필연 타일에 크게 쓰리라.”

하고, 돌아가고자 하다가 은자에의 욕심이 몸을 생각치 못하여 이시한후에 몸을 날려 방중에 들어가니, 길동은 간 데 억고, 일진광풍이 일어나 뇌성벽력이 천지 진동하며 운무 자욱하여 동서를 분별치 못하며 좌우를 살펴보니 천봉만학이 중중첩첩하고, 대해 창일하여 정신을 수습치 못하는지라. 특자 내념에 헤아리되, “내 아까 분명 방중에 들어왔거늘 산은 어인 산이며, 물은 어인 물인고?” 하여 갈 바를 알지 못하더니, 문득 옥적소리 들리거늘, 살펴보니 청의동자 백학을 타고 공중에 다니며 불러 왈,

“너는 어떠한 사람이관대 이 깊은 밤에 비수를 들고 누구를 해코자 하느냐?”

특자 대왈,

“네 분명 길동이로다. 나는 너의 부형의 명령을 받아 너를 취하러 왔노라.”

하고 비수를 들어 던지니, 문득 길동은 간 데 없고, 음풍이 대작하고 벽력이 진동하며, 중천에 살기 뿐이로다. 중심에 대겁하여 칼을 찾으며 왈,

"내 남의 재물을 욕심하다가 사지에 빠졌으니 수원수구하리요.“

하며, 길게 탄식하더니, 문득 이윽고 길동이 비수를 들고 공중에서 외쳐 왈,

“필부는 들으라. 네 재물을 탐하여 무죄한 인명을 살해코자 하니 이제 너를 살려두면 일후에 무죄한 사람이 허다히 상할지라. 어찌 살려 보내리요.”

한대, 특자 애걸 왈,

"과연 소인의 죄 아니오라 공잣댁 초낭자의 소위오니, 바라옵건데 가련한 인명을 구제하셔서 일후에 개과하게 하옵소서.“

길동이 더욱 분을 이기지 못하여 왈,

"너의 약관이 하늘에 사무쳐 오늘날 나의 손을 빌어 악한 유를 없애게 함이라.“

하고, 언파에 특자의 목을 쳐버리고, 신장을 호령하여 동대문 밖의 상녀를 잡아다가 수죄하여 왈,

"네 요망한 년으로 재상가에 출입하며 인명을 상해하니 네 죄를 네 아느냐?“

관상녀 제 집에서 자다가 풍운에 쌓이어 호호탕탕이 아무 데로 가는줄 모르더니, 문득 길동의 꾸짙는 소리를 듣고 애걸 왈,

"이는 다 소녀의 죄가 아니오라 초낭자의 가르침이오니 바라건대 인후하신 마음에 죄를 관서하옵소서.“

하거늘, 길동이 가로되,

"초낭자는 나의 의모라 의논치 못하려니와 너같은 악종을 내 어찌 살려 두리요. 후 사람을 징계하리라.“

하고. 칼을 들어 머리를 베어 특자외 주검한테 던지고, 분한 마음을 것잡지 못하여 바로 대감전에 나아가 이 변괴를 아뢰고 초낭을 베려하다가 홀연 생각 왈, “영인부아언정 무아부인이라.” 하고, 또 “내 일시 분으로 어찌 인륜을 끊으리요.” 하고, 바로 대감 침소에 나아가 정하에 엎드리더니, 이때 대감이 잠을 깨어 문 밖에 인적 있음을 괴히 여겨 창을 열고 보시니, 길동이 정하에 엎드렸거늘, 분부 왈,

“이제 밤이 이미 깊었거늘 네 어찌 자지 아니하고 무슨 연고로 이러하느냐?”

길동이 체읍 대왈,

“가내에 흉한 변이 있사와 목숨을 도망하여 나가오니 대감전에 하직차로 왔나이다.”

대감이 상량하시되, “필연 무슨 곡절이 있도다.” 하시고 가로되,

“무슨 일인지 날이 새면 알려니와 급히 돌아가 자고 분부를 기다리라.”

하시기, 길동이 복지 주왈,

"소인이 이제로 집을 떠나가오니 대감 체후만복하옵소서. 소인이 다시 뵈올 기약이 망연하오이다.“

대감이 헤아리되, 길동은 범류 아니라 만류하여도 듣지 아니 할 줄 짐작하시고 가로되,

"네 이제 집을 떠나면 어디로 가느냐?“

길동이 부복 주왈,

"목숨을 도망하여 천지로 집을 삼고 나가오니 어찌 정처 있사오리까마는 평생 원한이 가슴에 맺혀 설원할 날이 없사오니 더욱 설워하나이다.“

하거늘. 대감이 위로 왈,

"오늘로부터 네 원을 풀어주는 것이니 네 나가 사방에 주류할지라도 부디 죄를 지어 부형에게 환을 끼치지 말고 쉬이 돌아와 나의 마음을 위로하라. 여러 말 아니하니 부디 겸염하여라.“

하시니. 길동이 일어나 다시 절하고 주왈,

"부친이 오늘날 적년소원을 풀어 주시니 이제 죽어도 한이 없사올지라. 황공무지오니 복망 아버님은 만수무강하소서.“

하며, 인하여 하직을 구하고 나와 바로 그 모친 침실에 들어가 어미를 대하여 가로되,

"소자가 이제 목숨을 도망하여 집을 떠나오니 모친은 불효자를 생각지 마시고 계시오면 소자 돌아와 뵈올 날이 있사오니 달리 염려 마옵시고 삼가 조심하여 천금귀체를 보중하옵소서.“

하고, 초낭의 작변하던 일을 종두지미하여 낱낱이 설화하니, 그 어미 그 변괴를 자세히 들은 후에 길동을 만류치 못할 줄 알고 인하여 탄식 왈,

“네 이제 나가 잠간 화를 피하고 어미 낮을 보아 쉬이 돌아와 나로 하여금 실망하는 병이 업게 하라.”

하며 못내 설워하니, 길동이 무수히 위로하며 눈물을 거두어 하직하고 문 밖에 나서니 광대한 천지간에 한 몸이 용납할 곳이 없는지라. 탄식으로 정처없이 가니라.

이때에 부인이 자객을 길동에게 보낸 줄 아시고 밤이 새도록 잠을 이루지 못하고 무수히 탄식하시니, 장자 길현이 위로 왈,

"소자도 능히 마지 못하온 일이오니 저 죽은 후에라도 어찌 한이 없사오리까? 제 어미를 더욱 후대하여 일생을 편케 하옵고, 제의 시신을 후장하여 야처한 마음을 만분지일이나 덜을까 하나이다.“

하고 밤을 지내더, 이튿날 평명에 초낭이 별당에 날이 밝도록 소식 없음을 괴히 여겨 사람을 보내 탐지하니, 길동은 간데 없고 목 없는 주검 둘이 방중에 거꾸러져 있거늘, 자세히 보니 특자와 관상녀라. 초낭이 이 말을 듣고 크게 놀래어 급히 내당에 들외가 이 사연을 부인께 고하니, 부인이 대경하여 장자 길현을 볼러 길동을 찾으되 종시 거처를 알지 못하는지라. 대감을 청하여 수말을 아뢰며 죄를 청하니, 대감이 대책왈,

"가내에 이런 변고를 지으니 화 장차 무궁할지라. 간밤에 길동이 집을 떠나노라 하고 하직을 고하기로 무슨 일인지 몰랐더니 원래 이일이 있음을 어찌 알았으리요.“

하고, 초낭을 대책 왈,

"네 앞 순에 괴이한 말을 자아내기로 꾸짖어 물리치고 그같은 말을 다시 내지 말라 하였거늘, 네 종시 마음을 고치지 아니하고 가내에 있어 이렇듯이 변을 지으니 죄를 의논컨대 죽기를 면치 못하리라. 어찌 내 안전에 두고 보리요.“

하시(고), 노복을 불러 두 주검을 남이 모르게 치우고 마음 둘 곳을 몰라 좌불안석하시더라.

이때에 길동이 집을 떠나 사방으로 주류하더니, 일일은 한 곳에 이르니 만첩산장이 하늘에 닿은 듯하고, 초목이 무성하여 동서를 분별치 못하는 중에 햇빛은 세양이 되고 인가 또한 없으니 진퇴유곡이라. 바야흐로 주저하더니, 한 곳을 바라보니 괴이한 표자 시냇물을 쫓아 떠오거늘, 인가 있는줄 짐작하고 시젓물을 쫓아 수리를 들어가니, 산천이 열린 곳에 수백 인가 즐비하거늘. 길동이 그 촌중에 들어가니, 한 곳에 수백 인이 모여 잔치를 배설하고 배반이 낭자한대 공론이 분운하더라.

원래 차촌은 적굴이라. 이날 마침 장수를 정하려 하고 공론이 분운하더니 길동 이 말을 듣고 내념에 해아리되, “내 지처없는 처지로 위연이 이 곳에 당하였으니 이는 나로하여금 하늘이 지시하심이로다. 몸을 녹림에 붙여 남아의 지기를 펴리라.”하고 좌중에 나아가 성명을 통하여 왈,

"나는 경성 홍승상의 아자로서 사람을 죽이고 망명도주하여 사방에 주류하옵더니, 오늘날 하늘이 지시하사 위연이 이 곳에 이르렀으니 녹림호걸의 으뜸 장수됨이 어려하노?“

하며 자청하니. 좌중제인이 이때 술이 취하여 바야흐로 공론 달난하더니, 불의에 난데없는 총각아이 들어와 자청하매 서로 돌아보며 꾸짖어 왈,

"우리 수백 인이 다 절인지력을 가졌으되 지금 두 가지 일을 행할이 없어 유예미결하거니와, 너는 어떠한 아이로서 감히 우리 연석에 돌입하여 언사 이렇듯이 괴망하뇨? 인명을 생각하여 살려보내니 급히 돌아가라.“

하고 등 밀어 내치거늘, 길동이 돌문 밖에 나와 큰 나무를 꺾어 글을 쓰되, “용이 얕은 물에 잠기어 있으니 어별이 침노하며, 범이 깊은 수풀을 잃으매 여우와 토끼의 조롱을 보는도다. 오래지 아니해서 풍운을 얻으면 그 변화 측량키 어려우리로다.”하였더니, 한 군사 그 글을 등서하여 좌중에 드리니, 상좌의 한 사람이 그 글을 보다가 여러 사람에게 청하여 왈,

"그 아이 거동이 비범할 뿐 아니라, 더우기 홍승상의 자제라 하니 수자를 청하여 그 재주를 시험한 후에 처치함이 해롭지 아니하다.“

하니, 좌중제인이 응락하여 즉시 길동을 청하여 좌상에 앉히고 이르되,

"즉금 우리 의논이 두 가지라. 하나는 이 앞의 초부석이라 하는 돌이 있으니 중이 천여근이라 좌중에서는 용이케 들 사람이 없고, 둘은 경상도 합천 해인사에 누거만재이나 수도중이 수천 명이라 그 절을 치고 재물을 앗을 모책이 없는지라. 수자가 이 두 가지틀 능히 행하면 오늘부터 장수를 봉하리라.“

하거늘, 길동이 이 말을 듣고 웃어 왈,

"대장부 세상에 처하매 마땅히 상통천문하고, 부찰지리하고. 중찰인의할지라. 어찌 이만 일을 겁하리요.“

하고, 즉시 팔을 걷고 그 곳에 나아가 초부석을 들어 팔 위에 얹고 수 십 보를 행하다가 도로 그 자리에 놓으되 일분 겨워하는 기색이 없으니 모든 사람이 대찬 왈,

"실로 장사로다!“

하고, 상좌에 앉히고 술을 권하며 장수라 일컬어 치하 분분하는지라. 길동이 군사를 명하여 백마를 잡아 피를 마셔 맹세할새 제군에게 호령 왈,

"우리 수백 인이 오늘부터 사생고락을 한가지로 할지니 만일 약속을 배반하고 영을 어기는 자가 있으면 군법으로 시행하리라.“

하니, 제군이 일시에 청령하고 즐기더라. 수일 후에 제군에게 분부 왈,

"내 합천 해인사에 가 모책을 정하고 오리라.“

하고, 서동복색으로 나귀를 타고 종자 수인을 데리고 가니 완연한 재상의 자제이더라. 해인사에 노문하되, “경성 홍승상댁 자제 공부차로 오신다." 하니 사중 제승 노문을 듣고 의논하되, ”재상가 자제 절에 거처하시면 그 힘이 적지 아니하리로다." 하고 일시에 동구 밖에 맞아 문안하니, 길동이 혼연히 사중에 돌아가 좌정 후에 제승을 대하여 왈,

“내 들으니 네 절이 경성에 유명하기로 소문을 높이 듣고 먼 데를 헤아리지 아니하고 한 번 구경도 하고 공부도 하려하여 왔으니, 너희도 괴로히 생각지 말 뿐더러 사중에 머무는 잡일을 일체 물리치라. 내 아무 고을 아중에 가 본관을 보고 백미 이십 석을 보낼 것이 니 아무날 음식을 장만하라. 내 너회와 더불어 승속지분의를 버리고 동락한 후에 그날부터 공부하리라. "

하니, 제승이 황공 수명하더라. (법)당 사면으로 다니며 두루 살핀후에 돌아와 적군 수십인에게 백미 이십석을 보내며 왈,

"아무 아중에서 보내더라.“

이르니라. 제승이 어찌 대적의 흉계를 알리요. 행여 분부를 어길까 염려하여 그 백미로 즉시 음식을 장만하며, 일변 사중에 머무는 잡인을 다 보내니라. 기약한 날에 길동이 제적에게 분부하되,

"이제 해인사에 가 제승을 다 결박할 것이니 너희등이 근처에 매복하였다가 일시에 절에 들어와 재물을 수탐하여 가지고 나의 가르치는 대로 행하되 부디 영을 어기지 말라.“

하고, 장대한 하인 십여인을 거느리고 해인사로 향하니라.

이때 제승이 동구 밖에 나와 대후하는지라. 길동이 들어가 분부 왈,

"사중 제승이 노소없이 하나도 빠지지 말고 일제히 절 뒤 벽계로 모이라. 오늘은 너희와 함께 종일 포취하고 놀리라.“

하니, 중들이 먹기도 위할 뿐떠러 분부를 어기면 행여 죄 있을까 저어하여 일시에 수천 제승이 벽계로 모이니 사중은 통 비었는지라. 길동이 좌상에 앉고 제승을 차례로 앉힌 후에 각각 상을 받아 술도 권하며 즐기다가 이윽하여 식상을 드리거늘, 길동이 소매로부터 모래를 내어 입에 넣고 씹으니 돌깨지는 소리에 제승이 혼불부신하는지라.

길동이 대로 왈,

"내 너희로 더불어 승속지분의를 버리고 즐긴 후에 유하여 공부하렸더니 이 완만한 중놈들이 나를 수이 보고 음식의 부정함이 이 같으니 가히 통분한지라.“

데리고 갔던 하인을 호령하여, “제승을 일제히 곁박하라.” 재촉이 성화같은지라. 하인이 일시에 달려듈어 절승을 결박할새 어찌 일분 사정이 있으리요.

이때 제적이 동구 사면에 매복하였다가 이 기미를 탐지하고, 일사에 달려들어 고를 열고 수만금 재물을 제 것 가져가듯이 우마에 싣고 간들 사지를 요동치 못하는 중들이 어찌 금단하리오. 다만 입으로 원통하다 하는 소리 동중이 무너지는 듯 하더라.

이때 사중에 한 목공이 있어 이 중에 참여치 아니하고 절을 지키다가 난데없는 도적이 들어와 고를 열고 제 것 가져가듯이 하매, 급히 도망하여 합천 관가에 가 이 연유를 아뢰니, 합천원이 대경, 일변 관인을 보내며, 또 일변 관군을 조발하여 추종하는지라.

모든 도적이 재물을 싣고 우마를 몰아 나서며 멀리 바라보너 수천 군사 풍우같이 몰려오매 티끌이 하늘에 닿은 듯 하더라. 제적이 대겁하여 갈 바를 알지 못하고 도리어 길동을 원망하는지라. 길동이 소왈,

'너회가 어찌 나의 비계를 알리요? 염려말고 남편 대로로 가라. 내 저 오는 관군을 북편 소로로 가게 하리라."

하고, 법당에 들어가 중의 장삼을 입고, 고갈을 쓰고, 높은 봉에 올라 관군을 불러 외쳐 왈,

"도적이 북편 소로로 갔사오니 이리로 오지 말고 그리 가 포착하옵소서.“

하며, 장삼 소매를 날려 북편 소로를 가리키니, 관군이 오다가 남로를 버리고 노승의 가리키는 대로 북편 소로로 가거늘, 길동이 내려와 축지법을 행하여 제적을 인도하여 동중으로 돌아오니 제적이 치하 분분하더라.

이때에 합천 원이 관군을 몰아 도적을 추종하되 자취를 보지 못하고 돌아오매 일읍이 소동하는지라. 이 연유를 감영에 장문하니, 감사 듣고 놀래어 각 읍에 발포하여 도적을 잡되 종시 형적을 몰라 도로 분주하더라.

일일은 길동이 제적을 불러 의논 왈,

"우리, 비록 녹림에 몸을 붙였으나 다 나라 백성이라. 세대로 나라 수토를 먹으니 만일 위태한 시절을 당하면 마땅히 시석을 무릅쓰고 민군을 도울지니 어찌 형법을 힘쓰지 아니하리요? 이제 군기를 도모할 모책이 있으니, 아무날 함경감영 남문 밖의 능소 근처에 시초를 수운하였다가 그날밤 삼경에 불을 놓으되 능소에는 범치 못하게 하라. 나는 남은 군사를 거느리고 기다려 감영에 틀어가 군기와 창고를 탈취하리라.“

약속을 정한 후에 기약한 날에 군사를 두 초로 나누어 한 초는 시초를 수운하라 하고, 또 한 초는 길동이 거느려 매복하였다가 삼경이 되매 능소 근처에 화광이 등천하였거늘, 길동이 급히 들어가 관문을 두드리며 소리하되,

    </div>
    <button onclick="move1()">페이지 이동</button>
    <script>
    function move1(){
         location.href ='./Viewer2.html';
    }
    </script>

</body>
</html>