<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer_2</title>
    <link rel="stylesheet" href="Viewer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet">

</head>
<body>
    

    <img class= "gdpicture" src="gildong.jpg" alt="My Image">
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>

    </div>
    <div id="honggildong">
            
"능소에 불이 났사오니 급히 구원하옵소서.“

감사 잠결에 대경하여 나화서 보니 과연 화광이 창천한지라. 하인을 거느리고 나가며, 일변 군사를 조발하니 성중이 물 끓는 듯 하는지라. 백성들도 다 능소에 가고 성중이 공허하여 노약자만 남았는지라. 길동이 제적을 거느리고 일시에 달려들어 창곡좌 군기를 도적하여 가지고 축지법을 행하여 순식에 동중으로 돌아오더라.

이때에 감사 불을 구하조 돌아오니 창곡 지킨 군사 아뢰되,

"도적이 들어와 창고를 열고 군기와 곡식을 도적하여 갔나이다.“

하거늘, 크게 놀래어 사방으로 군사를 발포하여 수탐하되 형적이 없는지라. 변괴인 줄 알고 이 연유를 나라에 주문하니라.

이날 밤에 길동이 동중에 돌아와 잔치를 베풀고 즐기며 왈,

"우리 이제는 백성의 재물은 추호도 탈취치 말고, 악 읍 수령과 방백의 준민고택하는 재물을 노략하여 혹 불쌍한 백성을 구제할지니, 이 동호를 '활빈당'이라 하리라.“

하고, 또 가로되,

"함경감영에서 군기와 곡식을 잃고 우리 종적은 알지 못하매 저간에 애매한 사람이 허다히 상할지라. 내 몸의 죄를 지어 애매한 백성에게 돌려보내면 사람은 비록 알지 못하나 천벌이 두렵지 아니하랴?“

하고, 즉시 감영 북문에 써 붙이되,

"창곡좌 군기 도적하기는 활빈당 당수 홍길동이라.“

하였더라,

일일은 길동이 생각하되, “나외 팔자 무상하여 집을 도망하여 몸을 녹림호걸에 붙였으나 본심이 아니라. 입신양명하여 위로 임금을 도와 백성을 건지고 부모에게 영화를 뵈일 것이거늘, 남의 천대를 분히 여겨 이 지경에 이르렀으니 차라리 이로 인하여 큰 이름을 얻어 후세에 전하리라." 하고, 초인 일곱을 만들어 각각 군사 오십 명씩 영거하여 팔도에 분발할새, 다 각기 혼백을 붙여 조화무궁하니 군사 서로 의심하여 어느 도로 가는 것이 참 길동인 줄을 모르더라. 각각 팔도에 횡행하며 불의한 사람의 재물을 앗아 불쌍한 사람을 구제하고, 수령의 뇌물을 탈취하고, 창고를 열어 백성을 진휼하니, 각유소동하여 창고지키는 군사 잠을 이루지 못하고 지키나, 길동의 수탄이 한 번 움직이면 풍우 대작하며 운무 자욱하여 천지를 분별치 못하니, 수직하는 군사 손을 묶인 듯이 금제치 못하는지라. 팔도에서 작란하되 명백히 외쳐 왈, "활빈당 장수 홍길동이라.“ 제명하며 횡행하되 뉘 능히 종적을 잡으리요? 팔도 감사 일시에 장문을 올리거늘, 전하 택견하시니 각각 하였으되,

"홍길동 대적이 능히 풍운을 부려 각읍에서 작란하여 아무 날은 이리 이리한 고을의 군기를 도적하고, 아무 때는 아무 고을의 창곡을 탈취하엿으되 이 도적의 자취를 잡지 못하여 황공한 사연을 앙달하나이다.“

하였거늘, 전하보시고 대경하사, 각도 장문 일자를 상고하시니 길동의 작란친 날이 동월 동일이라. 전하 크게 근심하사 일변 열읍에 하교하사, “무론 사서인하고 만일 이 도적을 잡으면 천금상을 하리라.” 조하시고, 팔도에 어사를 내리어, 민심을 안돈하고 이 도적을 잡으라 하시니라.

이 후로는 길동이 혹 쌍교를 타고 다니며 수령을 임의로 출척하고, 흑 창고를 통개하여 백성을 진휼하며, 죄인을 잡아 다스리며, 옥문을 열고 무죄한 사람은 방송하며 다니되, 각 읍이 종시 그 종적을 모르고 도리어 분주하여 일국이 흉흉한지라. 전하 진로하사 가라사대,

"이 어떠한 놈의 용맹이 한 날에 팔도에 다니며 이같이 작란하는고? 나라를 위하여 이 놈을 잡을 자가 없으니 가히 한심하도다!“

하시니, 계하에 한 사람이 출반 주왈,

“신이 비록 재주 없사오나 일지병을 주시면 홍길동 대적을 잡아 전하의 근심을 덜리이다.”

하거늘, 모두 보니 이는 곧 포도대장 이업이라. 전하 기특하게 여기사 정병 일천을 추시니, 이업이 즉시 궐하에 숙배하직하고 즉일 발행할새, 과천을 지나서는 각각 군사를 분발하여 약속을 정하되, 너희는 이러 이러한 곳으로 쫓아 아무날 문경으로 모이라.“ 하고, 미복으로 행하여 수일 후에 한 곳에 이르니, 날이 장차 저물거늘 주점에 들어 쉬더니, 이윽고 어떠한 소년이 나귀를 타고 동자 수인을 거느리고 들어와 좌정 후에 성명과 거지를 통하고 담화하더니, 그 서생이 차탄 왈,

“보천지하가 막비왕토요, 솔토지민이 박비왕신이라. 이제 대적 홍길동이 팔도에 작란하여 민심을 요란케 하매 전하 진로하사 팔도에 행관하여 방곡에 지위하여 잡으라 하시되 종시 잡지 못하니 분완한 마음은 일국이 한가지라. 나같은 사람도 약간 용력이 있어 이 도적을 잡아 나라의 근심을 덜고자 하되 힘이 넉넉치 못하고 뒤를 도울 사람이 없으매 개탄이로이다.”

이업이 그 서생의 모양을 보고, 말을 들으매 진실로 의기남자라. 심내에 경복하여, 나아가 손을 잡고 왈,

“장하다, 이 말이여! 충의를 겸한 사람이로다! 내 비록 영렬하나 죽기로써 그대의 뒤를 도울 것이니 나와 함께 이 도적을 잡음이 어떠하뇨?”

한대, 그 소년이 또한 위사하고 왈,

“그대 말씀이 그러할진대 이제 나와 함께 가 재주를 시험하고 홍길동이 거처하는 데를 탐지하리라.”

하니, 이업이 응락하고 그 소년을 따라 함께 깊은 산중으로 가더니, 그 소년이 몸을 솟아 층암절벽 위에 올라 앉으며 왈,

"그대 힘을 다하여 나를 차면 그 용력을 가히 알리라.“

하거늘, 이업이 생전 기력을 다하여 그 소년을 차니, 그 소년이 몸을 돌아앉으며 왈,

"장사로다! 이만하면 홍길동 잡기를 염려치 아니하리로다! 그 도적이 지금 이 산중에 있으니 내 먼저 들어가 탐지하고 올 것이니 그대는 이곳에 있어 나의 돌아오기를 기다리라.“

하거늘, 이업이 허락하고 그 곳에 앉아 기다리더니, 이윽하여 형용이 기괴한 군사 수십인이 다 황건을 쓰고 오며 외쳐 왈,

"네 포도대장 이업이냐? 우리는 지부대왕의 명을 받아 너를 잡으러 왔노라.“

하고, 일시에 달려들어 철쇄로 묶어 가니, 이업이 혼불부신하여 지하인 줄, 인간인 줄 모르고 가더니, 경각에 한 곳에 이르니 의회한 와가가 궁궐같은지라. 이업을 잡아 정하에 꿇리니 전상에서 수죄하는 소리나며 꾸짖어 왈,

"네 감히 활빈당 장수 홍길동을 수이 보고 잡기를 자당하느냐? 홍장군이 하늘의 명을 받아 팔도에 다니며 탐관오리와 비리로 취하는 놈의 재물을 앗아 불쌍한 백성을 구휼하거늘, 너회 놈이 나라를 속이고 임금에게 무고하여 옳은 사람들 해코자 하매, 지부에서 너같은 간사한 유를 잡아다가 다른 사람을 경계코자 하시니 한치 말라."

하고, 황건역사를 명하여 왈,

"이업을 잡아 풍도에 붙여 영불출세케 하라.“

하니, 이업이 머리를 땅에 두드리며 사죄 왈,

"과연 홍장군이 각 읍에 다니며 작란하여 민심을 소동케 하시매 국왕이 진로하시기로 신자의 도리에 앉아있지 못하여 발포차로 봉명하고 나왔사오니 인간의 무죄한 목숨을 안서하옵소서.“

무수히 애걸하니, 좌우 제인이며 전상에서 그 거동을 보고 크게 웃으며, 군사를 명하여 이업을 해박하여 전상에 앉히고 술을 권하며 왈,

"그대 머리를 들어 나를 보라. 나는 곧 주점에서 만났던 사람이요, 그 사람은 곧 홍길동이라. 그대같은 이는 수만 명이라도 나를 잡지 못할지라. 그대를 유인하여 이리 오기는 우리 위엄을 보이게 함이요, 일후에 그대와 같이 범람한 사람이 있거든 그대로 하여금 말리게 함이로다.“

하고, 또 두어 사람을 잡아들여 정하에 꿇리고 수죄 왈,

"너희들 일변 벨 것이로되 이미 이업 살려 돌려보내기로 너희도 방송하나니 돌아가 일후에는 다시 홍장군 잡기를 생의치 맡라.“

하니, 이업이 그제야 인간인 줄 아나 부끄러워 아무 말도 못하고 머리를 숙여 잠잠하더니, 이윽히 앉았다가 잠간 졸더니, 문득 깨달으니 사지를 요동치 못하고 눈에 보이는 것이 없는지라. 죽도록 벗어나니 가죽 부대에 들어있는지라. 그 앞에 또 가죽 부대 둘이 달렸거늘, 끌러 보니 어젯밤에 함께 잡혀 갔던 사람이요, 문경으로 보낸 군사라. 이업이 어이없어 웃어 왈,

"나는 어떠한 소년에게 속아 이러이러 하였거니와 너희는 어떤 연고냐?"

물으니, 그 군사 서로 웃어 왈,

"소인 등은 아무 주점에서 자옵더니 어찌하여 이곳에 이른 줄 알지 못하나이다.“

하고, 사면을 살펴보니 장안 북악이더라. 이업 왈,

"허망한 밀이로다! 삼가 발구치 맡라.“

하더라.

이때에 길동의 수단이 신출귀몰하여 팔도에 횡행하되 능히 알 자가 없는지라. 수령의 간상을 적발하여 어사로 출도하여 선참후계하며,

각 읍 진공뇌물을 낱낱이 탈취하니 장안 백관이 구차막심하더라. 혹 초헌을 타고 장안 대로로 왕래하며 작란하니 상하 이민이 서로 의혹하여 괴이한 일이 많아 일국이 소동하는지라. 상이 크게 근심하시더니 우승상이 주왈,

“신이 듣자오니 도적 홍길동은 전 승상 홍모의 서자라 하오니, 이제 홍모를 가두시고, 그 형 이조판서 길현으로 경상감사를 보위하셔서 날을 정하여 그 서제 길동을 잡아 바치라 하오면, 제 아무리 불충무도한 놈이나 그 부형의 낯을 보아 스스로 잡힐까 하나이다.”

상이 이 말을 들으시고, 즉시 홍문을 금부에 가두라 하시고 길현을 패초하시니라.

이때에 홍승상이 길동이 한 번 떠난 후로 소식이 억어 거처를 모르며 내두에 무슨 일이 있을까 염려하시더니, 천만몽매 밖에 길동이 나라 노럭지 되어 이렇듯 작란하매, 놀랜 마음에 어찌할 줄 모르고 이사연을 미리 나라에 폼하기도 어렵고 모르는 체 앉아있기도 어려워 일념에 병이 되어 침석에 놉고 일어나지 못하는지라. 장자 길현이 이조판서로 있더니 부친의 병세 위중하시매 말미를 청하여 집에 돌아와 띠를 끄르지 아니하고 병측에 모셔 조참에 나아가지 아니한지 이미 달이 넘은지라. 조정 사기를 알지 못하더니, 믄득 법관이 나와 조명을 전하고 승상을 전옥에 내리우고 판서를 패초하시는지라 일가 황황분주하더라.

판서 궐하에 나가 대죄하니, 상이 가라사대,

“경의 서제 길동이 나라의 도적이 되어 범람함이 이 같으니 그 죄를 의논하면 마땅히 연좌할 것이로되 고위안서하나니 이제로 경상도에 내려가 길동을 잡아 홍시 일문지화을 면케하라.”

하시니, 길현이 복지 주왈,

"천한 동생이 일찍 사람을 죽이고 도망하여 나갔사오매 종적을 모르옵더니 이렇듯 중죄를 지으니 신의 죄 마땅히 베임즉하오며, 신의 아비 나이 팔십에 천한 자식이 도적이 되었사오매 이로 병이 되어 사경에 있사오니, 복원 전하는 하해같은 은덕을 내리사 신의 아비로 하여금 집에 돌아가 조병하게 하시면 신이 내려가서 서제 길동을 잡아 전하에게 바치리다.“

하니, 상이 그 효성을 감동하, 홍모는 집으로 보내어 치병하라 하시고, 길현으로 경상감사를 보위하사 날을 정하여 주시니, 판서 황은 을 백배치사하고 경상도에 내려와 각 읍에 행관하여 방방곡곡에 방서를 붙여 길동을 찾으니, 그 방서에 하였으되,

"대법 사람이 복재지간에 나매 오륜 있으니 오륜중에 군부가 으뜸이라. 사람되고 오륜을 버리면 사람이 아니라 하나니, 이제 너는 지혜와 식견이 범 사람보다 더하되 이를 모르니 어찌 애닯지 아니하리요? 우리 세대로 국은을 입어 자자손손이 녹을 받으니 망극한 마음이 갈충보국하더니, 우리에게 미쳐서는 너로 말미암아 역명을 장차 어느 곳에 미칠 줄 모르게 되니 어찌 한심하다 뿐이며, 난신과 적자 어느 대에 없으리요마는 우리 문호에서 날 줄은 진실로 뜻하지 못하였도다. 너의 죄목을 전하 진로하시니 마땅히 극형을 행하실 것 이로되, 갈수록 성은이 망극하사 죄를 더하지 아니하시고 나를 명하사 너를 잡으라 하옵시너 망극한 마음 도리어 황공하며, 팔십 노친이 백수모년에 너로 하여금 주야 우려하시던 중에 네 이렇듯 변괴를 지어 죄를 나라에 얻으니 놀라신 마음에 병이 되어 이제 눕고 장차 일어나지 못하게 되시니, 부친 만일 너로 인하여 세상을 버리시면 네 살아서도 역명을 입고, 죽어 지하에 간들 천추만대에 볼충볼효지죄를 유전할지라. 또한 그 남은 우리 일문이 원통치 아니하랴? 네 어찌 넉넉한 소견으로 이를 생각지 못하느냐? 네 이 죄명을 가지고 세상에 용납할진대 사람은 비록 안서하나 소소한 천벌이 사정이 있으랴? 이제 마땅히 천명을 순수하여 조정의 처분을 기다릴 뿐이니 또 어찌하리요? 네 일찍 돌아오기를 바라노라.“

하였더라.

감사 도임 후에 공사를 폐하고, 전하의 근심과 부친의 병세를 염려하여 수심으로 날을 보내며 행여 길동이 올까 바라더니, 일일은 하인이 아뢰되,

“어떠한 소년이 밖에 와 통지한다.”

하거늘, 즉시 맞아 들이니, 그 사람이 섬 위에 엎드려 죄를 청하는지라. 감사 괴히 여겨 그 연고를 물으니 대왈,

“형장은 어찌 소제 길동을 모르시나이까?”

하거늘, 감사 경희중에 나가서 길동의 손을 잡고 이끌고 방에 들어와 좌우를 치우고 한숨지으며 왈,

“이 무상한 아이야. 네 어려서 집을 떠난 후에 이제야 만나니 반가운 마음이 도리어 슬프도다! 네 저러한 풍도와 재주로 어찌 이렇듯 불측한 일을 즐겨하여 부형의 은애를 끊케 하느냐? 향곡의 우미한 백성들도 임금에게 충성하고, 아비에게 효도할 줄 아는지라. 너는 성정이 총명하고 재주 높아 범인과 크게 다르니 마땅히 더욱 충효를 숭상할 사람으로서 몸을 그른 데 버려 충효를 당하여는 범인보다 못하니 어찌 한심치 아니하리요? 그 부형되는 자가 그같은 고명한 자제를 두었다 하여 심독회자부하더니 도리어 부형에게 근심을 끼치느냐? 네 이제 충의를 취하여 사지에 돌아가도 그 부형은 싫어하는 마음이 있을지라. 하물며 역명을 무릅쓰고 죽게 되니 그 부형의 마음이야 다시 어떠하다 하랴! 국법이 사정이 없으니 아무리 구원코자 하여도 어찌 못하고 위하여 서러워한들 무슨 효험이 있으랴? 너는 부형의 낯을 보아 죽기를 감심하고 왔으나 나는 두렵고 비척한 마음이 너 아니 본 때보다 더한지라! 너는 네 지은 죄니 하늘과 사람을 원망치 못하여도, 부친과 나는 목전의 너를 죽이는 줄로 명도를 탓할 뿐이라. 네 어찌 이를 깨닫지 못하고 이렇들 범람한 죄를 지었느냐? 천추를 역수하여도 생리사별이 오늘밤에 비치 못하리로다!”

하니, 길동이 체읍 주왈,

“이 불초한 동생 길동이 본래 부형의 훈계를 듣지 말고자 함이 아니오라, 팔자 기박하여 천생됨을 평생 한일 뿐더러 가중에 시가하는 사람을 피하여 정처없이 다니다가 천망몽매 밖에 몸이 적당에 빠져 잠시 생애를 붙였더니 죄명이 이에 미치었사오니 명일에 소제 잡은 여유를 장계하옵고, 소제를 결박하여 나라에 바치옵소서.”

하며, 담화로 날을 새우고 평명에 감사 길동을 철쇄로 결박하여 보낼새 참연히 낯빛을 고치고 하염없이 눈물을 흘리더라.

이때에 팔도에서 다 각기 길동을 잡았노라 장문하고 나라에 올리니 사람마다 의혹하고 도로 분주하여 구경하는 사람이 길이 메여 그 수를 알지 못하더라. 전하 친림하사 여덟 길동을 국문하실새, 여덟 길동이 서로 다투어 가로되,

"네가 무슨 길동이냐? 내가 참 길동이로다.“

하고, 서로 팔을 뽐내며 한데 어우러져 뒹구니 도리어 일장 가관이더라. 만조 제신이며 좌우 나장이 그 진위를 알지 못하는지라. 제신이 주왈,

“지자는 막여부오니 이제 홍모를 패초하사 그 서자 길동을 알아들이라 하옵소서.”

상이 옳게 여기사 즉시 홍모를 부르시니 승상이 조명을 이어 복지하니, 상이 가라사대,

“경이 일찌기 한 길동을 두었다 하더니 이제 여덟이 되었으니 어떠한 여고인지 경이 자세히 가리어 형소를 착란케 말라.”

하시니, 승상이 체읍 주왈,

“신이 행실을 지키지 못하여 천첩을 가까이 한 죄로 천한 자식을 두어 전하의 근심이 되옵고 조정이 분운하오니, 신의 죄 만 번 죽어도 마땅하오이다.”

하며, 백수에 눈물이 이음차 길동을 꾸짖어 왈,

“네 아무리 불충불효한 놈이라도 위로 성상이 친림하시고, 버금 아래로 아비 있거늘, 지척 천위하에 군부를 기롱하니 불측한 죄 더욱 큰지라. 빨리 형벌에 나아가 천명을 순수하라. 만일 그렇지 아니하면, 네 목전에 내 먼저 죽어 성상의 진로하시는 마음을 만분지일이라도 덜으리라.”

하며 주왈,

“신의 천자 길동은 왼 편 다리에 붉은 점 일곱이 있사오니 이를 증험하여 적발하옵소서.”

하니, 여덟 길동이 일시에 다리를 걷고 일곱 점을 서로 자랑하는지라. 승상이. 그 진위를 가리지 못하고 우구한 마음을 이기지 못하여 인하여 기절하거늘, 상이 놀래시사 급히 좌우를 명하여 구원하시되 회생할 길이 없더니, 여덟 길동이 자기 낭중에서 대추같은 환약 두 개씩 내어 서로 다투어 승상의 입에 넣으니 이시한 후에 회생하는지라. 여덟 길동이 울며 아뢰되,

"신의 팔자 무상하여 홍모의 천비의 배를 빌어 낳사오매, 아비와 형을 임의로 부르지 못하옵고, 겸하여 가중에 시기하는 자가 있사와 보전치 못하오매, 몸을 산림에 붙여 초목과 함께 늙자 하였더니, 하늘이 밉게 여기사 적당에 빠졌사오나, 일찌기 백성의 재물은 추호도 취한 바 없고 수령의 뇌물과 불의한 놈의 재물을 앗아 먹고, 혹간에 나라 곡식을 도적하였사오나 군부가 일체오니 자식이 아비것 먹기로 도적이라 하오리까? 어린 자식이 어미 젖 먹는 일체로소이다. 이는 도무지 조정 소인이 천총을 가리워 무소한 죄요, 신의 죄는 아니로소이다.“

상이 진로하사 꾸짖어 가라사대,

"네 무고한 재물은 취치 아니했다 하면, 합천사 중을 속이고 그 재물을 도적하고, 또 능소에 불을 놓고 군기를 도적하니, 이만 큰 죄 또 어디 있느냐?"

길동 등이 복주 왈,

"불도라 하옵는 것이 세상을 속이고 백성을 혹하게 하여, 갈지 아니하고 백성의 곡식을 취하며, 짜지 아니하고 백성의 의복을 속여 부모의 발부를 상하여 오랑캐 모양을 숭상하며, 군부를 버리고 부세를 도망하오니 이에 더한 불의지사 없사오며, 군기를 가져가옵기는 신 등이 산중에 처하여 병법을 익히다가 만일 난세를 당하옵거든 시석을 무릅써 임금을 도와 태평을 이루고자 함이오며, 불을 놓으되 능소에는 아니가게하였사오며, 신의 아비 세대로 국록을 받자와 갈충보국하여 성은을 만분지일이라도 갚지 못할까 하옵거늘 신이 어찌 외람되이 범람한 마음을 두오리까? 죄를 의논하여도 죽기에 가지 아니할 터이로되, 전하께서 조신의 무소를 들으시고 이렇듯이 진로하시니 신이 형벌을 기다기지 아니하옵고 먼저 스스로 죽사오니 노를 더옵소서.“

하고, 여덟 길동이 한데 어우러져 죽는지라. 좌우 괴히 여겨 자세히 보니 참 길동은 간데없고 초인 일곱 뿐이더라. 상이 길동의 기망한 죄를 더욱 노하사, 경상감사에게 조서를 내리어 길동 잡기를 더욱 재촉하시는지라.

이때에 경상감사 길동을 잡아 올리고 심회 둘 곳이 없어 공사를 전폐하고 경사 소식을 기다리더니, 문득 교지를 내렸거늘, 북귈읔 향하여 사배 후에 택견하니, 교지에 가라사대,

"길동을 잡지 아니하고 초인을 보내어 형부를 착란케 하니 허망기군지죄를 면치 못할지라. 아직 죄를 의논치 아니하나니 십일 내로 길동을 잡으라.“

하시고 사의 엄절한지라. 감사 황공무지하여 사방에 지위하고 길동을 찾더니, 일일은 월야를 당하여 난간에 비겼더니, 선화당 들보 위에서 한 소년이 내려와 복지재배하거늘, 자세히 보너 이 곧 길동이라. 감사 꾸짖어 왈,

“네 갈수록 죄를 키워 구태여 화를 일문에 끼치고자 하느냐? 즉금 나라에서 엄명이 막중하시니 너는 나를 원치 말고 일찍 천명을 순수하라.”

길동이 부복 대왈,

"형장은 염려치 마시고 명일 소제를 잡아 보내시되, 장교 중에 부모와 처자 없는 자를 가리어 소제를 압영하시면 좋은 모책이 있나이다.“

감사 그 연고를 알고자 한대 길동이 대답치 아니하니, 감사 그 소견을 알지 못하나 장차를 제 말과 같이 별택하고 길동을 영솔하여 경사로 올려 보내니라. 조정에서 길동이 잡히어 온다는 말을 듣고 도감포수 수백을 남대문에 매복하여 왈,

"길동이 문 안에 들거든 일시에 총을 놓아 잡으라.“

분부하니라.

이때에 길동이 풍우같이 잡히어 오더니 어찌 이 기미를 모르리요. 동작리를 건너며 '비우자‘ 셋을 써 공중에 날리고 오더니, 길동이 남대문 안에 드니 좌우의 포수 일시에 총을 놓으되 총구에 물이 가득하여 할 수 없이 설계치 못하니라. 길동이 궐문 밖에 다달아 영거한 장차를 돌아보하 왈,

“너회 나를 영거하여 이곳까지 왔으니 그 죄 죽기는 아니하리라.”

하고, 몸을 날려 수레 아래 내려 완완히 걸어 가는지라. 오군문 기병이 말을 달려 길동을 쏘려 하되, 길동은 한양으로 가고 말은 아무리 채쳐 몬들 축지하는 법을 어찌 하리요. 만성 인민이 그 신기한 수단을 측량할 이 없더라. 이날 사문에 글을 써 붙였으되,

“흥길동의 평생소원이 병조판서이오니 전하 하해같은 은택을 드리우사 소신으로 병조판서 유지를 주시면 신이 스스로 잡히오리다.”

하였더라. 이 사연을 묘당에서 의논할새, 혹자는 "저의 원을 풀어주어 백성의 마음을 안돈하자." 하고. 혹자는 왈, “제 무도불충한 도적으로 나라에 척촌지공은 새로이 만민을 소동케 하고 성상의 근심을 끼치는 놈을 어찌 일국 대사마를 주리요?” 하여 의논이 분운하여 결단치 못하였더니, 일일은 동대문 밖의 유벽처에 가서 육갑신장을 호령하여, "진세를 이루라.“ 하니, 이윽고 두 집사 공중에서 내려와 국궁하고 좌우에 서니, 난데없는 천병만마 아무 곳으로부터 오는 줄 모르되, 일시에 진을 이루고 진중에 황금단을 삼층으로 묻고 길동을 단상에 모시니, 군용이 정제하고 위엄이 추상같더라. 황건역사를 호령하여, "조정에서 길동을 참소하는 자의 심복을 잡아 들이라.”하니, 신장이 이 영을 듣고 이윽한 후에 십여 인명을 철쇄로 결박하여 들이니, 비컨대, 소리개가 병아리 채오는 모양이더라. 단하에 꿇리고 수죄 왈,

“너희는 조정의 좀이 되어 나라를 속여 구태어 홍길동 장군을 해코자 하니 그 죄 마땅히 벨 것이로되 인명이 가긍하기로 안서하노라.”

하고, 각각 군문 곤장 삼십도씩 쳐 내치니 겨우 죽기를 면한지라. 길동이 또 한 신장을 분부 왈,

“내 몸이 조정에 처하여 법을 잡았으면 먼저 불법을 없애어 각도 사찰을 훼패하렸더니, 이제 오래지 아니하여 조선국을 떠날지라. 그러하나 부모국이라 만리타국에 있어도 잊지 못할지라. 이제로 각 사에 가 혹세무민하는 중놈을 일제히 잡아고고, 또한 재상가의 자식이 세를 끼고 고잔한 백성을 속여 재물을 취하고, 불의한 일이 많으며 마음이 교만하되 구중이 깊어 천일이 복분에 비추오지 못하고, 간신이 나라의 좀이 되어 성상의 총명을 가리우니 가히 한심한 일이 허다한지라. 장안의 호당지도를 낱낱이 잡아 들이라.”

하니, 산장 이 명을 듣고 공중으로 날아 가더니,

이시한 후에 중놈 백여 명과 경화자재 십여 인을 잡아 들이는지라. 길동이 위엄을 베풀고 호령을 높혀 각각 수죄 왈,

“너희는 다시 세상을 보지 못하게 할 터이로되, 내 몸이 나라의 조명을 받아 국법을 잡은 바 아니기로 고위 안서하거니와, 일후에 만일 고치지 아니하면 너희 비록 수만리 밖에 있어도 잡아다가 베리라.”

하고, 엄형 일차에 진문 밖에 내치니라. 길동이 우양을 잡아 군사를 호궤하고, 징용을 정제하여 훤화를 금단하니, 창천만리에 백일이 고요하고, 팔진 풍운에 호령이 엄숙한지라. 길동이 술을 내어 반취한 후에 칼을 잡아 춤을 추니, 검광이 분분하여 햇빛을 희롱하고, 무수는 표표하여 공중에 날리는지라. 일지석의라. 진세를 파하여 신장을 각각 돌려보내고, 몸을 날려 활빈당 처소로 돌아 오니라.

이 후로는 다시 길동을 잡는 영이 급하되 종적을 보지 못하고, 길동은 적군을 보내어 팔도에서 장안으로 가는 뇌물을 앗아 먹으며, 불상한 백성이 있으면 창곡을 내어 진휼하며 신출귀몰하는 재주를 사람은 측량치 못하더라. 전하 근심하사 탄왈,

“이 놈의 재주는 인력으로 잡지 못할지라. 민심이 이렇듯 요동하고 그 인재 기특한지라. 차라리 그 재주를 취하여 조정에 두리다.”

하시고, 병조판서 직첩을 내어 걸고 길동을 부르시니, 길동이 초헌을 타고 하인 수입명을 거느리고 동대문으로부터 오거늘, 병조 하인이 옹위하여 궐하에 이르러 숙배하고 가로되,

“천은이 망극하여 분외의 은택에 대사마에 오르오니 망극하온 신의 마음이 성은을 만분지일도 갚지 못할까 황공하나이다.”

하고 돌아가더니, 이 후로는 길동이 다시 작란하는 일이 없는지라. 각 도의 길동 잡는 영을 거두시더라.

삼년 후에 상이 월야를 당하사 환자를 거느리시고 월색을 구경하시더니, 하늘로서 한 선관이 오운을 타고 내려와 복지하는지라. 상이 놀라사 가라사대,

“귀인이 누지에 임하여 무슨 허물을 이르고자 하나이까?”

하신대, 그 사람이 주왈,

“소신은 전 병조판서 홍길동이로소이다.”

상이 놀라사 길동의 손을 잡으시고 왈,

“그대 그간은 어디를 갔었느냐?”

길동이 주왈,

“산중에 있사옵더니, 이제는 조선을 떠나 다시 전하 뵈올 날이 없사오매 하직차로 왔사오며, 전하는 넓으신 덕택에 정조 삼천 석만 주시면 수천 인명이 살아나겠사오니 성은을 바라나이다.”

상이 허락하시고 왈,

“네 고개를 들라. 얼굴을 보고자 하노라.”

길동이 얼굴을 들고 눈은 뜨지 아니하여 왈,

“신이 눈을 뜨오면 놀라실까 하여 뜨지 아니하나이다.”

하고, 이윽히 모셨다가 구름을 타고 가며 하직 왈,

“전하의 덕하에 정조 삼천 석을 주시니 성은이 갈수록 망극하신자라. 정조를 명일 서강으로 수운하여 주옵소서.”

하고 가는지라. 상이 공중을 향하여 이윽히 바라보시며 길동의 재주를 못내 차석하시고, 이튿날 대동당상에게 하교하사 “정조 삼천석을 서강으로 수운하라.” 하시니 조신이 연고를 알지 못하더라. 정조를 서강으로 수운할새, 강상으로부터 신척 둘이 떠오더니 정조 삼천 석을 배에 싶고 가며 길동이 대궐을 향하여 사배하직하고 아무 데로 가는 줄 모르더라.

이날 길동 삼천 적군을 거느려 망망대해로 떠나더니, 성도라 하는 도중에 이르러 창고를 지으며, 궁실을 지어 안돈하고, 군사로 하여금 농업을 힘쓰고, 각국에 왕래하여 물화를 통하며, 무예를 숭상하여 병법을 가르치니, 삼년지내에 군기 군량이 산같고, 군사 강하여 당적할 이 없더라.

일일은 길동이 제군에게 분부 왈,

“내 망당산에 들어가 살촉에 바를 약을 캐어 오리라.”

하고 떠나 낙천현에 이르니, 그 땅에 만석군 부자 있으되 성명은 백용이라. 남자 없고 일지기 딸을 두었으니, 덕용이 겸전하여 침어낙안지상이요, 폐월수화지태라. 고서를 섭렵하여 이두의 문장을 가졌으며, 색은 장강을 비웃고, 사덕은 태사를 봉받아 일언 일동이 예절이 있으니, 그 부모 극히 사랑하여 아름다운 사위를 구하더니, 나이 십팔에 당하여 일일은 풍우대작하여 지척을 분별치 못하게 하고, 뇌성벽력이 진동하더니, 백소저가 간 곳이 없는지라. 백용의 부처가 경황실색하여 천금을 흩어 사방으로 수탐하되 종적이 없는지라. 백용이 실성한 사람이 되어 거리로 다니며 방을 붙여 이르되,

“아무 사람이라도 자식의 거처를 알아 지시하면 인하여 사위를 삼고 가산을 반분하리라.”

하더라.

이때에 길동이 망당산에 들어가 약을 캐더니, 날이 저문 후에 방황하며 향할 바를 알지 못하더니, 문득 한 곳을 바라보니 불빛이 비치이며 여러 사람의 들레는 소리 나거늘, 반겨 그 곳으로 찾아가니 수백 무리 모여 뛰놀며 즐기는지라. 자세히 보니 사람은아니요 짐승이로되 모양은 사람같은지라. 심내에 의혹하여 몸을 감추오고 그 거동을 살피니, 원래 이 짐승은 이름이 을동이라. 길동 가만히 활을 잡아 그 상좌에 앉은 장수를 쏘니 정히 가슴에 맞는지라. 을동이 대경하여 크게 소리를 지르고 달아나거늘, 길동이 맞쫓아 잡고자 하다가 밤이 이미 깊었으매 소나무를 의지하여 밤을 지내고, 익일 평명에 살펴보니 그 짐승이 피를 흘렸거늘, 피 흔적을 따라 수리를 들어가니 큰 집이 있으되 가장 웅장한지라. 문을 두드리니 군사 나와 길동을 보고왈

“그대 어떠한 사람이관대 이 곳에 왔느뇨?”

길동이 대왈,

“나는 조선국 사람으로 이 산중에 약캐러 왔다가 길을 잃고 이곳에 왔노라.”

하니, 그 짐승이 반기는 빛이 있어 가로되,

“그대 능히 의술을 아느냐? 우리 대왕이 새로이 미인을 얻고 어젯날 잔치하며 즐기더니, 난데없는 화살이 들어와 우리 대왕의 가슴을 맞혀 지금 사경에 있르렀는지라. 오늘날 다행히 그대를 만났으니 만일 의술을 알거든 우리 대왕의 병세를 회복케 하라.”

길동이 대왈,

“내 비록 편작의 재주는 없거니와 좀체 병에는 의심치 아니하노라.”

하니, 그 군사 크게 기뻐하여안으로 들어가더니, 이윽하여 청하거늘, 길동이 들어가 좌정 후에 그 장수 신음하여 왈,

“복의 명이 조모를 보전치 못하더니 천우신조하사 선생을 만나오니 선약을 가르쳐 잔명을 구제하옵소서.”

길동이 그 상처를 살피고 왈,

“이는 어렵지 아니한 병이라. 내게 좋은 약이있으니 한 번 먹으면 비단 상처에 이할 뿐 아니라, 백병이 소제하고 장생불사하리라.”

한 대, 을동이 대희 왈,

“복이 스스로 몸을 삼가지 못하여 자취지환을 당하여 명이 황천에 돌아가게 되었더니 천우신조하사 명의를 만났사오니, 선생은 급히 선약을 시험하소서.”

길동이 금낭을 열고 약 한 봉지를 내어 술에 타 주니 그 짐승이 받아 마시더니, 이윽고 몸을 뒤치며 소리를 크게 질러 왈,

“내가 너로 더불어 원수 지은 일이 없거든 무슨 일로 나를 해하여 죽이려 하느냐?”

하며, 제 동생 등을 불러 왈,

“천만몽매 외에 흉적을 만나 명을 끊기게 되니 너희 등은 이놈을 놓치지 말고 나의 원수를 갚으라.”

하고, 인하여 죽으니, 모든 율동이 일시에 칼을 들고 내달아 꾸짖어 왈,

“내 형을 무슨 죄로 죽이느냐? 내 칼을 받아라.”

하거늘, 길동이 냉소 왈,

“제 명이 그 뿐이라. 내 어찌 죽였으리요?”

한대, 을동이 대로하여 칼을 들어 길동을 치려 하거늘, 길동이 대적코자 하나 손에 척촌지검이 없어 사세 위급하매 몸을 날려 공중으로 달아나니, 을동이 본디 누만년 묵은 요귀라 풍운을 부리고 조화무궁한지라. 무수한 요괴 바람을 타고 올라오니, 길동이 할 수 없어 육정육갑을 부르니, 문득 공중으로부터 무수한 신장이 내려와 모든 을동을 결박하여 땅에 꿇리니, 길동이 그 놈의 잡은 칼을 앗아 무수한 을동을 다 베고, 바로 들어가 여자 삼인을 죽이려 하니, 그 여자 울며 왈,

“첩 등은 요귀 아니요, 불행하게 요귀에게 잡혀 와 죽고자 하나 틈을 얻지 못하여 죽지 못하였나이다.”

길동이 그 여자의 성명을 물으니, 하나는 낙천현 백용의 여자요, 또 두 여자 정통 양인의 여자라. 길동이 세 여자를 데리고 돌아와 백용을 찾아 이 일을 설화하니, 백용이 평생 사랑하던 여자를 찾으매 만심환희하여 천금으로 대연을 배설하고, 향당을 모아 홍생으로 사위를 삼으니, 인인이 칭찬하는 소리 진동하더라. 또 정통 양인이 홍생을 청하여 왈,

“은혜를 갚을 길이 없으니 각각 여자로 시첩을 허하나이다.”

길동이 나이 이십이 되도록 봉황의 쌍유를 모르다가 일조에 삼부인숙녀를 만나 친근하니 은정이 교칠하여 비할 데 없더라. 백용 부처 사랑함을 이기지 못하더라. 인하여 길동이 삼 부인과 백용 부처이며 일가제족을 다 거느리고 제도로 들어가니, 모든 군사 강변에 나와 맞아 원로에 평안히 행차하심을 위로하고, 호위하여 제도중에 들어와 대연을 배설하고 즐기더라.

세월이 여류하여 제도에 들어온 지 거의 삼 년이라. 일일은 길동이 월색을 사랑하여 월하에 배회하더니, 문득 천문을 살피고 그 부친 졸하실 줄 알고 길게 통곡하니, 백씨 문왈,

“낭군이 평생 슬퍼하심이 없더니 오늘 무슨 일로 낙루하시나이까?”

길동이 탄식 왈,

“나는 천지간 불효자라. 나는 본디 이 곳 사람이 아니라, 조선국 홍승상의 천첩소생이라. 집안의 천대 자심하고, 조정에도 참여치 못하매, 장부 울회를 참지 못하여 부모를 하직하고 이곳에 와 은신하였으나 부모의 기후를 사모하더니, 오늘날 천문을 살피니 부친의 유명하신 명이 불구에 세상을 이별하실지라. 내 몸이 만리 외에 있어 미처 득달치 못하게 되니 생전의 부친 안전에 뵙지 못하게 되오매 그것을 슬퍼하노라.”

백씨 듣고 내심에 탄복 왈, “그 근본을 감추지 아니하니 장부로다!”

하고, 재삼 위로하더라.

이때에 길동이 군사를 거느리고 일봉산에 들어가 산기를 살펴 명당을 정하고, 날을 가리어 역사를 시작하여 좌우 산곡과 분묘를 능과 같이 하고 돌아와 모든 군사를 불러 왈,

“모월 모일 대선 한척을 준비하여 조선 서강에 와 기다리라.”하고,

“부모를 모셔 올 것이니 미리 알아 거행하라.”

한대, 모든 군사 청령하고 물러가 거행하니라. 이날 길동이 백씨와 정통 양인을 하직하고 소선 일척을 재촉하여 조선으로 향하니라.

각설, 이때에 승상이 연장 구십에 졸연 득병하여 추구월 망일 더욱 중하여 부인과 장자 길현을 불러 가로되,

“내 나이 이제 구십이라 이제 죽은들 무슨 한이 있으리요마는, 길동이 비록 천첩소생이나 또한 나의 골육이라. 한 번 문외에 나가매 존망을 알지 못하고 임종에 상면치 못하니 어찌 슬프지 아니하리요? 나 죽은 후이라도 길동의 모를 대접하여 편케 하며, 부디 후회를 생각하여 만일 길동이 들어오거든 천비소생으로 알지 말고 동복형제같이하여 부모의 유언을 저버리지 말라.”

하시고, 길동의 모를 불러 가까이 앉으라 하여 손을 잡고 눈물를 흘려 왈,

“내 너를 잊지 못함은 길동이 나간 후에 소식이 돈절하여 사생존망을 모르니 내 마음에 이같이 사념이 간절하거든 네 마음이야 더욱 측량하랴? 길동은 녹녹한 인물이 아니라. 만일 살아있으면 너를 저버릴 바 없으리라. 부디 몸을 가볍게 버리지 말고 안보하여 좋게 지내라. 내 황천에 돌아가도 눈을 감지 못하리로다.”

하시고, 인하여 별세하시니, 부인이 기절하시고, 좌우 다 망극하여 곡성이 진동하더라. 길현이 슬픈 마음을 적제치 못하여 눈물이 비오듯하며, 부인을 붙들어 위로하여 진정하신 후에 초상등절을 예로써 극진히 차릴새, 길동의 모는 더욱 망극 애통하니 그 정상이 잔잉하여 차마 보지 못하더라. 인하여 졸곡 후에 명산지지를 구하여 안장하려 하고 각처에 사람을 놓아 여러 지관을 데리고 산지를 사방으로 구하되 마땅한 곳이 없어 근심하더니, 이때에 길동이 서강에 다달아 배에서 내려 승상댁에 이르러 바로 승상 영위전에 들어가 복지통곡하니, 상인이 자세히 보니 이 곧 길동이라. 대성통곡 후에 길동을 데리고 바로 내당에 들어가 부인께 고하니, 부인이 대경대회하여 길동의 손을 잡고 눈물을 흘리며 왈,

“네 어려서 집을 떠나 이제야 들어오니 석사를 생각하면 도리어 참 괴한지라. 그러나 네 그사이 삼사년은 종적을 아주 끊어 어디로 갔었더나? 대감이 임종시 말씀이 이러이러 하시고 너를 잊지 못하며 돌아가시니 어찌 원통치 아니하리요?”

하시고, 그 어미를 부르시니, 그 모 길동 온 줄 알고 급히 들어와 모자 서로 대하니 흐르는 눈물을 서로 금치 못하더라. 길동이 부인과 그 모친을 위로한 후 그 형장을 대하여 왈,

“소제 그간은 산중에 은거하여 지리를 잠심하여 대감의 말년유택을 정한 곳이 있사옵더니, 알지 못하겠구나! 이미 소점이 있사옵나이까?”

그 형이 이 말을 듣고 더욱 반겨 아직 정하지 못한 말을 설화하고, 제인이 모여 밤이 새도록 정회를 풀고, 이틑날 길동이 그 형을 모시고 한 곳에 이르러 가르켜 왈,

“이곳이 소제의 정한 땅이로소이다.”

길현이 사면을 살펴보니, 중중한 석각이 험악하고, 누누한 고총이 수없는지라. 심내에 불합하여 왈,

“소제의 높은 소견을 알지 못하되 내 마음은 이곳에 모실 생각이 없으니 다른 땅을 점복하라.”

길동이 거짓 탄식 왈,

“이땅이 비록 이러하오나 누대 장상지지어늘 형장의 소견이 불합하오니 개탄이로다!”

하고, 도끼를 들어 수척을 파하니, 오색 기운이 일며 청학 한쌍이 날아가는지라. 그 형이 이 거동을 보고 크게 뉘우쳐 길동의 손을 잡고 왈,

“우형의 소견 절어대지를 잃었으니 어찌 애닯지 아니하니요? 바라나니 다른 땅이 없느냐?”

길동이 가로되,

“이에서 한 곳이 있어도 길이 수천 리라 그것을 염려하나이다.”

길현이 왈,

“이제 수만리라도 부모의 백골이 평안할 곳이 있으면 그 원근을 취사치 아니하리라.”

한대, 길동이 함께 집에 돌아와 그 말씀을 설화하니, 부인이 못내 애달아 하시더라. 날을 가리어 대감 영위를 모시고 도중으로 향할새, 길동이 부인께 여쭈오되,

“소자 돌아와 모자지정을 다 펴지 못하옵고, 또 대감 영위에 조석공양이 난처하오니 어미와 함께 이번 길에 함께 하오면 좋을까 하나이다.”

부인이 허락하시거늘, 직일 발행하여 서강에 다다르니 제군이 대선 한척을 대후하였는지라. 상구를 배에 모신 후에 복태 노복을 다 물리치고 그 형장과 어미를 모셔 만경창파로 떠나가니 지향을 알지 못하더라. 수일 후에 도중에 이르러 상구를 청상에 모시고, 날을 가리어 일봉산에 올라 장례를 모실새, 산역하는 거동이 능묘같은지라. 그 형장이 너무 참람함을 놀라니, 길동 왈,

“형장은 의심치 마옵소서. 이 곳은 조선 사람이 출입하는 곳이 아니며 그 자식되는 자가 부모를 후장하여서 죄될 것이 없나이다.”

하더라. 안장 후에 도중에 돌아와 수월 머물더니, 그 형이 고향으로 돌아가고자 하거늘, 길동을 길을 차릴새, 이별을 고하여 왈,

“형장을 다시 볼 날이 막연하온지라. 어미는 이미 이 곳에 왔사오니 모자 정리에 차마 떠나지 못하오며, 형장은 대감을 생전에 모셨사오니 한할 바가 없는지라. 사후 향화는 소제가 받들어 불효지죄를 만불지일이나마 덜까 하나이다.”

하고, 함께 산소에 올라 하작히고 내려와 길동의 모와 백씨를 이별할새, 피차에 다시 만남을 당부하고 못내 연연하더라. 소선 일척을 제촉하여 고국으로 향할새, 길동의 손을 잡고 왈,

“슬프다! 이별이 오랠지라. 소제는 나의 사정을 살펴 생전에 대감 산소를 다시 보게 하라.”

하며 하염없이 눈물이 옷깃을 적시는지라. 길동이 또한 눈물지며 왈,

“형장은 고국에 돌아가 부인을 모시고 만세무강하옵소서. 다시 모일 기약을 정치 못하오니, 남북 수천리에 나뉘어 강금의 이불이 차고, 척령의 나래 고단하매, 속절없이 북으로 가는 기러기를 탄식하며, 등으로 흐르는 물을 바랠 따름이오니, 생리사별을 당하여 그 정회는 피차 한가지라. 아무리 철석간장인들 차마 견디리요?”

하며, 두 줄 눈물이 말소리를 쫓아 떨어지니, 진실로 만고상심 한 마디라. 강수 위하여 소리를 그치고, 행운이 머무는 돗하여 차마 서로 떠나지 못하더라. 강잉하며 서로 위로하고, 배를 띄워 수월 만에 고국에 돌아와 모부인께 뵈옵고, 산처 사연이며 천후수말을 낱낱이 설화할새, 부인도 못내 차석하시더라.

차설, 길동이 그 형을 이별 후에 제군을 권하여 농업을 힘쓰고, 군법을 일삼으며, 그럭저럭 삼년초토를 지내매, 양식이 넉넉하고, 수만 군졸이 무예와 기보하는 법이 천하에 최강하더라. 근처에 한 나라가 있으니 이름은 율도국이라. 중국을 섬기지 아니하고, 수십 대를 전자전손하여 덕화유행하니, 나라가 태평하고, 백성이 넉넉하거늘, 길동이 제군과 의논 왈,

“우리 어찌 이 도중만 지키어 세월을 보내리요? 이제 율도국을 치고자 하니 각각 소견에 어떠하냐?”

제인이 즐겨 원치 아니할 이 없는지라. 즉시 택일하여 출사할새, 삼호걸로 선봉을 삼고, 김인수로 후장군을 삼고, 길동 스스로 대원수되어 중영을 총독하니, 기병이 오천이요, 보졸이 이만이라. 곰고함성은 강상이 진동하고, 기치검극은 일월을가리웠더라. 군사를 재촉하여 율도룩그로 향하니, 이른바 당할 자가 없어 단사호장으로 문을 열어 항복하는지라. 수월지간에 칠십여 성을 정하니 위엄이 일국에 진동하는지라. 도성 오십 리 밖에 진을 치고 율도왕에서 격서를 전하니 그 글에 하였으되,

“의병장 홍길동은 삼가 글월을 율도왕 좌하에 드리나니, 나라는 한 사람이 오래 지키지 못하는지라. 시고라 성탕은 하걸을 치고, 무왕은 상주를 내치시니, 다 백성을 위하여 난대를 평정하는 바라. 이제 의병 이십만을 거느려 칠십여성을 항복받고 이에 이르렀으니, 왕은 대세를 당할 듯하거든 자웅을 결단하고, 세궁하거든 일찍 항복하여 천명을 순수하라.”

하고, 다시 위로 왈,

“백성을 위하여 쉬 항서를 올리면 일방 봉작으로 사직을 망케 아니하리라.”

하였더라.

이때에 율도왕이 불의에 이름없는 도적이 칠십여 주를 항복받으매, 향하는 곳 마다 당적치 못하고, 도성을 범하매 비록 지혜있는 신하라도 위하여 꾀하지 못하더니, 문득 격서를 들이매 만조제신이 아무러할 줄 모르고 장안이 진동하는지라. 제신이 의논 왈,

“이제 도적의 대세를 당치 못할지라. 싸우지 말고 도성을 굳게 지키고, 기병을 보내어 기 치중군량 수운하는 길을 막으면 적병이 나아와 싸움을 어찌 못하고, 또 물러갈 길이 없사오면, 수월이 못되어 적장의 머리를 성문에 달리이다.”

의논이 분운하더니, 수문장이 급고 왈,

“적병이 벌써 도성 십 리 밖에 진을 쳤나이다.”

율도왕이 대분하여 정병 십만을 조발하여 친히 대장이 되어 삼군을 재촉하여 호수를 막아 진을 치니라.

이때에 길동이 형지를 수탐한 후에 제장과 의논 왈,

“명일 오시면 율도왕을 사로잡을 것이니 군령을 어기지 말라.”

하고 제장을 분발할새, 삼호걸을 불러 왈,

“그대는 군사 오천을 거느려 양관 남편에 복병하였다가 호령을 기다려 이리이리 하라.”

하고, 후군장 김인수를 불러 왈,

“그대는 군사 이만을 거느려 이리이리 하라.”

하고, 또 좌선봉 맹춘을 불러 왈,

“그대는 철기 오천을 거느려 율왕과 싸우다가 거짓 패하여 왕을 인도하여 양관으로 달아나다가 추병이 양관 어귀에 들거든 이리이리 하라.”

하고, 대장기치와 백모황월을 주니라. 이튿날 평명에 맹춘이 진문을 크게 열고 대장기치를 진전에 세우고 외쳐 왈,

“무도한 율도왕이 감히 천명을 항거하니 나를 당적할 재주 있거든 빨리 나와 자웅을 결단하라.”

하며 진문에 치돌하며 재주를 비양하니, 적진 선봉 한석이 응성출마 왈,

“너희는 어떠한 도적으로 천위를 모르고 태평시절을 분란케 하느냐? 오늘날 너희를 사로잡아 민심을 안돈하리라.”

하고, 언필에 상장이 합전하여 싸우더니, 수합이 못되어 맹춘의 칼이 빛나며 한석의 머리를 베어 들고 좌충우돌하여 왈,

“율왕은 무죄한 장졸을 상치 말고 쉬이 나와 항복하여 잔명을 보전하라.”

하니, 율왕이 선봉 패함을 보고 분기를 이기지 못하여 녹포운갑에 자금투구를 쓰고, 좌수에 방천극을 들고, 천리대완마를 재촉하여 진전에 나서며 왈,

“적장은 잔말 말고 나의 창을 받으라.”

하고, 급히 맹춘을 취하여 싸우니, 십여합에 맹춘이 패하여 말머리를 돌려 양관으로 향하니 율도왕이 꾸짖어 왈,

"적장은 달아 지 말고 말에서 내려 항복하라.“

말을 재촉하여 맹춘을 따라 양관으로 가더니, 적장이 골 어귀에 들며 군기를 버리고 산곡으로 달아나는지라. 율도왕이 무슨 간계있는가 의심하다가 왈,

“네 비록 간사한 꾀가 있으나 내 어찌 겁하리요?”

하고 군사를 호령하여 급하 따르더니, 이때에 길동이 장대에서 보다가 율도왕이 양관 어귀에 듦을 알고, 신병 오천을 호령하여 대군과 합세하여 양관 어귀에 필잔을 쳐 돌아갈 길을 막으니라. 율도왕이 적장을 쫓아 골에 들매 방포소리 나며 사면복병이 합세하여 그 세 풍아같은지라. 율도왕 꾀에 빠진 줄 알고 세궁하여 군사를 돌려 나오더니, 양관 어귀에 미치니 길동의 대병이 길을 막이 진을 치고 항복하라 하는 소리 천지 진동하는지라. 율도왕이 힘을 다하여 진문을 헤치고 들어가니, 문득 풍우대작하고, 뇌성벽력이 진동하며 지척을 분별치 못하여 군사 크게 어지러워 갈 바를 모르더니, 길동이 신병을 호령하여 적장과 군졸을 일시에 결박하였는지라. 율도왕이 아무러 할 줄 모르고 크게 놀래어 급히 헤진들 팔진을 어떻게 벗어나리요? 필마단창으로 동서를 모르고 횡행하더니, 길동이 제장을 호령하여 결박하라 하는 소리 추상같은지라. 율도왕이 사면을 살피니 군사 하나도 따르는 자가 없으매, 스스로 벗아나지 못할 줄 알고 분기를 이기지 못하여 자결하는지라. 길동이 삼군을 거느려 승전고를 울리며 본진으로 돌아와 군사를 호궤 후에 율도왕을 왕례로 장사하고, 삼군을 재촉하여 도성을 에워싸니, 율도왕의 장자 흉변을 듣고 하늘을 우러러 탄식하며 인하여 자결하니, 제신이 하릴없어 율도국 세수를 받들고 항복하는지라. 길동이 대군을 몰아 도성에 들어가 백성을 진무하고, 율도왕의 아들을 또한 왕례로 장사하고, 각 읍에 대사하고, 죄인을 다 방송하며, 창고를 열어 백성을 진휼하니, 일국이 그 덕을 치하 아니할 이 없더라.

날을 가리어 왕위에 직하고, 승상을 추존하여 태조왕이라 하고, 능호를 현덕능이라 하며, 모친을 왕대비로 봉하고, 백용으로 부원군을 봉하고, 백씨로 중전왕비로 봉하고, 정통 양인이로 정숙비를 봉하고, 삼호걸로 대사마 대장군을 봉하며 병마를 총독케 하고, 김인수로 청주절도사를 하시이고, 맹춘으로 부원수를 하시이고, 그 남은 제장은 차례로 상사하니 한 사람도 칭원할 이 없더라. 신왕이 등극 후에 시화연풍하고, 국태민안하여 사방에 일이 없고, 덕화대행하여 도불습유하더라.

태평으로 세월을 보내더니, 수십년 후에 대왕대비 승하하시니 시년 칠십삼이라. 왕이 못내 애훼하여 예절로 지내는 효성이 신민을 감동하시더라. 현덕능에 안장하니라. 왕이 잠자이녀를 두시니 장자 앙이 내부의 풍도 있는지라. 신민이 다 산두같이 우러르거늘, 장자로 태자를 봉하시고, 열읍에 대사하사 태평연을 배설하고 즐길새, 왕의시년이 칠십이라. 술을 내어 반취하신 후에 칼을 잡고 춤추며 노래하시니 왈,


    </div>
    <button onclick="move1()">페이지 이동</button>
    <script>
    function move1(){
         location.href ='Viewer.html';
    }
    </script>
</body>
</html>