<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscribe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/subscribe.css">
</head>
<body>
    <h1>언제든 해지 가능!<br>
    첫 달 무료로 가볍게</h1>
    <h5>상황에 맞게 원하는 요금제를 자유롭게 선택하세요</h5>

    <h4 class="comment_1">전자책 정기구독 (첫 구독시 한 달 100원)</h4>
    <div class = "container">
        <div class = "inner_container">
            <img class = "turtle" src="/images/gudok.gif" alt="구독하기!">
        </div>
        <form action="#" method="POST">
            <div class="subscribe" id="btn_group">
                <div class="comment_2"> 기북천사에 제공하는 컨텐츠를 무한으로 </div>
                <button id="subscribe">구독하기</button>
            </div>
        </form>
    </div>

</body>
</html>