<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 아카이북 | 상세페이지 </title>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/search.css">


</head>
<body>
    <header>
        <h1>
            <form action="#" method="POST">
                ArchiBook
            </form>
        </h1>
        <nav>
            <span>
                <form action="#" method="POST">
                    <div class="search">
                        <input name="search" type="text" placeholder="검색어 입력" value="">
                        <button><img
                                src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                    </div>
                </form>
            </span>
            <span>
                <form action="#" method="POST">
                    <div class="describe" id="btn_group">
                        <button id="describe">구독하기</button>
                    </div>
                </form>
            </span>
            <ul class="menu">
                <li>
                    <a href="#">Menu</a>
                    <ul class="menu_1">
                        <li><a href="#">내 정보 보기</a></li>
                        <li><a href="#">회원정보 수정</a></li>
                        <li><a href="#">신청게시판</a></li>
                        <li><a href="#">회원탈퇴</a></li>
                    </ul>
                    <!-- <span>menu3</span> -->
                    <ul class="menu_2">
                        <li><a href="#">마이페이지...</a></li>
                        <li><a href="#">Q&A</a></li>
                        <li><a href="#">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
            <!-- <span>menu3</span> -->
        </nav>
    </header>
    <h1 class="h1Class">상세보기</h1>
    <div id="detail_id">

            <!-- 책 첫번째  -->
            <li class="book">
                <div class="div_bookpic">
                    <div>
                        <img style="float:left" class="book_pic1">
                    </div>
                    <div class="paragraph paragraph_fir">
                        <!-- 제목 -->
                        <h1> 달러구트 꿈 백화점2</h1>
                        <!-- 글쓴이 -->
                        <h3 class="air"> 이미예</h3>
                        <!-- 내용 -->
                        <h5> [어서오세요 꿈 백화점에!] 어른을 위한 힐링 판타지 
                            〈달러구트 꿈 백화점〉 두 번째 책. 1년 넘게 꿈 백화점에서 일하면서<br>
                             이제 제법 능숙한 직원이 된 페니, 그는 단골 손님이 남긴 알쏭달쏭한 민원을 해결하고
                             손님을 되찾을 수 있을까?  <br> ‘달러구트’의 세계관 아래에서 다시 한번 신비롭고 따뜻한 
                                이야기가 펼쳐진다. -소설MD 박형욱 <br><br><br><br>

                               
                            <button onclick="location.href=''">바로 보기</button >
                            <button onclick="location.href=''">책가방담기</button >


                        </h5>
                        <!--  -->
                    </div>
                </div>
            </li>

</body>
</html>