<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아이디 찾기</title>
    <meta charset="utf-8" />
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/findId.css">


</head>
  <div>
    <div class = "search-title">
        <h1>아이디 찾기<img class="img_turtle" src="/images/backgimg.jpg"></h1>
    </div>
<section class = "form-search">
    <div class = "find-name">
        <label>이름</label>
        <br>
        <input type="text" name="member_name" class = "btn-name" placeholder = "등록한 이름">
    <br>
	<br>
    </div>
    <div class = "find-phone">
        <label>전화번호</label>
        <br>
        <input type="text" onKeyup = "addHypen(this);" name="member_phone" class = "btn-phone" placeholder = "휴대폰번호를 '-'없이 입력">
    </div>
    <br>
</section>
<script>
	/*20220723 추후 javascript 따로 생성예정*/
    function id_search() {
	 	var frm = document.idfindscreen;

	 	if (frm.member_name.value.length < 1) {
		  alert("이름을 입력해주세요");
		  return;
		 }

		 if (frm.member_phone.value.length != 11) {
			  alert("핸드폰번호를 정확하게 입력해주세요");
			  return;
		 }

	 frm.method = "post";
	 frm.action = "aaa"; //넘어간화면
	 frm.submit();  
	 }
</script>
<div class ="btnSearch">
    <a href="findPw.html" target="_blank" class="find" >찾기</a>
    <a href="login.html" target="_blank" class="cancel">취소</a>

</div>
</div>

</html>