<!DOCTYPE HTML>
<!--
   Helios by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아카이북 | 로그인</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/login.css">

</head>
<style>

</style>
<body class="homepage is-preload">

    <section class="main">
        <header class="major">
            <h1 class="login_h1">아카이북 로그인<img src="/images/qna.png" width="40" height="60"></h1>
        </header>

        <form method="post" name="loginForm" action="/member/login">
            <div style="display:flex; justify-content:space-evenly; color:black;">

                <div>
                    <div class="col-6 col-12-xsmall" style="width:100%">
                        <p style="margin-bottom: 2%;"></p>
                        <input class="input_id" type="text" name="memberId" id="memberId" value="" placeholder="아이디"/>

                        <p style="margin-bottom: 2%;"></p>

                        <input class="input_pw" type="password"  name="memberPw" id="memberPw" value="" placeholder="비밀번호"/>
                        <div style="display: flex; width: 100%">
                            <input class="primary" type="button" value="로그인"  onclick="check()"/>
                        </div>
                        <p style="margin-bottom: 2%;"></p>
                    </div>
                    <div>
                        <input type="button" value="아이디 찾기" class="primary1" onclick="location.href='/member/findID'"/>
                        <input type="button" value="비밀번호 찾기" class="primary1" onclick="location.href='/member/findPW'"/>
                        <input type="button" value="회원가입" class="primary1" onclick="location.href='/member/join'"/>
                    </div>
                </div>

            </div>
        </form>
    </section>
    <hr>






</body>


<!--js 코드 kkh-->
<script src="/js/login.js"></script>
<script th:inline="javascript">
    $("input#memberId").keypress(function(e) {
        if (e.keyCode === 13) {
            check(); // do something
        }
    });

    $("input#memberPw").keypress(function(e) {
        if (e.keyCode === 13) {
            check(); // do something
        }
    });


    var flag = [[${flag}]];
    $(document).ready(function(){

        if(flag=="true"){
            alert("!!! 로그인 성공!");
            flag=null;
        }
        if(flag=="false") {
            alert("아이디 또는 비밀번호가 틀렸습니다.");
            flag=null;
        }
    })


</script>
</html>