<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아카이북 | 로그인</title>
    <meta charset="utf-8" />
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<style>
    /* body 기본 폰트 전체 적용 */
    body{
        font-family: 'Gowun Dodum', sans-serif;
        color: #5b5b5b;
    }
</style>

<body class="homepage is-preload">
<div id="page-wrapper">
    

    <header>
        <h1>
            <form action="#" method="POST">
                ArchiBook
            </form>
        </h1>
        <nav>
                <span>
                    <form action="#" method="POST">
                        <div class="search">
                            <input name="search" type="text" placeholder="검색어 입력" value="">
                            <button><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                        </div>
                    </form>
                </span>
            <span>
                    <form action="#" method="POST">
                        <div class="describe" id="btn_group">
                            <button id="describe">구독하기</button>
                        </div>
                    </form>
                </span>
            <ul class="menu">
                <li>
                    <a href="#">Menu</a>
                    <ul class="menu_1">
                        <li><a href="#">내 정보 보기</a></li>
                        <li><a href="#">회원정보 수정</a></li>
                        <li><a href="#">신청게시판</a></li>
                        <li><a href="#">회원탈퇴</a></li>
                    </ul>
                    <!-- <span>menu3</span> -->
                    <ul class="menu_2">
                        <li><a href="#">마이페이지...</a></li>
                        <li><a href="#">Q&A</a></li>
                        <li><a href="#">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
            <!-- <span>menu3</span> -->
        </nav>
    </header>
    <section>
        <div class="mainlogin"> 기북천사 로그인 <img class="tur" src="/images/qna.png" alt="모나리자">
            <div>

                <!-- Main -->
                
                <section class="main">
                  
                </section> 

            </div>
            
        </div>
        <div class="idpw">
            <p><input type="text" class="login" placeholder="아이디"><p>
            <input type="password" class="login" placeholder="패스워드"><p>
            <button type="password" class="submit" >로그인
        </div>

        <ol class="findall">
            <li class="finding findId">아이디 찾기</li><span>|</span>
            <li class="finding">비밀번호 찾기</li><span>|</span>
            <li class="finding"><a href="join.html"> 회원가입</a></li>
        </ol> 


    </section>


    <hr>




</body>

</html>