<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8" />
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/memberRemove.css">


</head>
<body>
<div class="div_paragraph">
    <div>
        <h1>회원탈퇴</h1>
    </div>
    <section class = "form-search menu">
        <div class = "find-name">
            <h2><label style="margin-right:450px;">비밀번호 재확인</label></h2>
        </div>
        <div>
            <input type="text" name="member_name" class="btn-name" >
        </div>
        <div class = "find-name">
        <h2><label style="margin-right:165px;">본인확인을 위해 비밀번호를 다시 확인합니다.</label></h2>
            <h2><label style="margin-right:200px;">본인 확인 후 최종 회원탈퇴가 가능합니다.</label></h2>
        </div>
    </section>
    <div class ="btnSearch" >
        <a href="aaa" target="_blank" class="mini-btn">확인 </a>
        <a href="aaa" target="_blank" class="mini-btn">취소 </a>
    </div>





</div>

</body>
</html>