<!DOCTYPE html>
<html lang="en">
<head>
    <title>회원정보 수정</title>
    <meta charset="utf-8" />
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/MemberModify1.css">
</head>
<body>
<div class="div_paragraph">
    <div>
        <h1>회원정보 수정</h1>
    </div>
    <section class = "form-search menu">
        <div class = "change">
            <h2><label style="margin-right:320px;">비밀번호 확인</label></h2>
        </div>
        <div>
            <input type="text" name="check_pw" class="btn-check mini-btn" >
            <a href="aaa" target="_blank" class="mini-btn nb-get" >확인</a>
        </div>
    </section>

</div>
</body>
</html>