<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>아카이북 | MY PAGE</title>
    <link rel="stylesheet" href="/static/css/mypage.css">

</head>
<body>
<h4 style="text-align: center">him님의 정보입니다. 변경을 원하시면 정보수정을 눌러주세요.</h4>
<table border="1" width="50%" height="200" cellspacing="5" style="margin-left: auto; margin-right: auto;">
    <caption></caption>
    <thead>
    </thead>

    <tbody>
    <tr align="center" bgcolor="white">
        <th bgcolor="#f4a460"></th>
        <td>아이디</td>
        <td>sewoon4104</td>

    <tr align="center" bgcolor="white">
        <th bgcolor="#f4a460"></th>
        <td>이름</td>
        <td>오세운</td>
    </tr>
    <tr align="center" bgcolor="white">
        <td bgcolor="#f4a460"></td>
        <td>전화번호</td>
        <td>010-5050-8080</td>
    </tr>
    <tr align="center" bgcolor="white">
        <td bgcolor="#f4a460"></td>
        <td>이메일</td>
        <td>toon@naver.com</td>
    </tr>
    <tr align="center" bgcolor="white">
        <td bgcolor="#f4a460"></td>
        <td>주소</td>
        <td>서울특별시 강남구</td>
    </tr>

    </tbody>
</table>

<table border="1" width="50%" height="200" cellspacing="5" style="margin-left: auto; margin-right: auto;">
    <caption></caption>
    <thead>
    </thead>

    <tbody>
    <tr align="center" bgcolor="white">
        <th bgcolor="#f4a460">이용권/유효기간</th>


    <tr align="center" bgcolor="white">
        <td>구독 사용 정보</td>
    </tr>
    <tr align="center" bgcolor="white">
        <td>전화번호</td>
    </tr>


    </tbody>
</table>

</body>
</html>
