<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> 아카이북 | 검색 결과   </title>
    <link rel="stylesheet" href="../../static/css/search.css">
</head>

<body class="bodyResult" >
<!--2022.07.17수정-->
    
    <p class="result">검색 결과</p>
    <ul class= "bookList">
        <!-- 책 첫번째  -->
        <li class="book">
            <div  class="div_bookpic">
                <img style="float:left" class="book_pic1">
                <div >
                    <!-- 제목 -->
                    <h1> 달러구트 꿈 백화점2</h1>
                    <!-- 글쓴이 -->
                    <h5> 이미예</h5>        
                    <!-- 내용 -->
                    <h5> 꿈을 좆는 백화점. 그 이야기</h5>
                    <!--  -->
                </div>
            </div>
        </li>
        <!-- 책 두번째  -->
        <li class="book">
            <div  class="div_bookpic" >
                <img  style="float:left" class="book_pic2" >
                <div >
                    <!-- 제목 -->
                    <h1 > 완전한 행복 </h1>
                    <!-- 글쓴이 -->
                    <h5> 정유정</h5>        
                    <!-- 내용 -->
                    <h5> 완전한 행복을 좇는 그 이야기</h5>
                    <!--  -->
                </div>
            </div>
        </li>
        <!-- 책 세번째 -->
       
        <li class="book">
            <div  class="div_bookpic">
                <img  style="float:left" class="book_pic3">
                <div >
                    <!-- 제목 -->
                    <h1> 대규모 시스템 설계 기초 </h1>
                    <!-- 글쓴이 -->
                    <h5> 정유정</h5>        
                    <!-- 내용 -->
                    <h5> 대규모 시스템을 좇는 그 이야기</h5>
                    <!--  -->
                </div>
            </div>
        </li>
        <!-- 책 네번째 -->
        <li class="book">
            <div class="div_bookpic">

            </div>플라멩코 추는 남자</li>
 
    </ul>

    <div>
        <div>
        <img src="url" />
        </div>
        <div>
        Text content goes here
        </div>
        </div>



</body>
</html>
