body{
    font-family: 'Gowun Dodum', sans-serif;
    color: #5b5b5b;
    taxt-align:center;
}
.div_paragraph{
    margin-top:180px;
    text-align:center;
}
.input_btn1{
    width:550px;
    height:35px;
    border-radius: 10px;
}
.input_btn2{
    width:400px;
    height:35px;
    border-radius: 10px;
}
.abc{
    taxt-align:center;
    color:black;
}
.id-check{
    line-height: 50px;
    width:280px;
    height:50px;
    margin-top:50px;
    color: white;
    taxt-align:center;
    text-decoration: none;
    display: inline-block;
    background-color: red;
}
.id-cancel{
    line-height: 50px;
    width:280px;
    height:50px;
    margin-top:50px;
    color: white;
    taxt-align:center;
    text-decoration: none;
    display: inline-block;
    background-color: gray;
}
.mini-btn{
    border-radius: 10px;
}
.btn-number{
    background-color:lightgray;
}
a:visited{
    color: white;
    padding: 14px 25px;
    taxt-align:center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: black;
}
.check{
    line-height: 50px;
    width:380px;
    height:50px;
    color: white;
    margin-top:50px;
    taxt-align:center;
    text-decoration: none;
    display: inline-block;
    background-color: red;
}
.cancel{
    line-height: 50px;
    width:180px;
    height:50px;
    color: white;
    margin-top:50px;
    taxt-align:center;
    text-decoration: none;
    display: inline-block;
    background-color: gray;
}
.nb-get{
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    background-color: gray;
}
.nb-check {
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    background-color: red;
}