/*main.css*/

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Gowun Dodum', sans-serif;
    color: #5b5b5b;
}

* {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: black;
    list-style: none;
}
.frame{
    background-color: white;
    height: 3015px;
    z-index: -999;
}
.main_1{
    position: absolute; /* 22:55 */
    /* 한 화면 세로 760px */
}

.main_1 .back_ground{
    height: 753px;
    width: 1519px;
    /* background-image: url(../Main/books-2596809.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#describe{
    display: block;
    position: fixed;
    bottom: 25px;
    left: 50%;
    border-radius: 60px;
    border-collapse: collapse;
    transform: translateX(-50%);
    z-index: 100;
    max-width: 450%;
    width: 20%;
    cursor: pointer;
    margin: 0 auto;
    background: #333333;
    color: #ffffff;
    line-height: 24px;
    font-size: 16px;
    padding: 5px 0;
    min-height: 45px;
    text-align: center;
    box-shadow: 0 4px 12px rgb(0 0 0 / 16%), 4px 8px 28px rgb(0 0 0 / 8%);
}

header{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 999;

    height: 60px;
    color: black;
    background-color: hsla(0,0%,100%,.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.search{*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 1100px;*/
/*    width: 270px;*/
/*    display: flex;*/
/*}*/

.search img{
    position:relative;
    max-width: 25px;
    width: 20px;
    right:67px;
    top:30px;
    cursor: pointer;
    padding: 3px;
}

.search img:hover{
    border-style: none;
    border-collapse: collapse;
    background: #dfdfdf;
}

/*.menu:after{display:block; content:''; clear:both;}*/
/*.menu > li{position:relative; float:left; margin-right:5px;}*/
/*.menu > li > a{display:block; padding:0 15px;  height:40px; line-height:40px; color:#fff;}*/
/*.menu > li:hover .menu_1 {display:block;}*/
/*.menu > li:hover .menu_2 {display:block;}*/
/*.menu .menu_1{display:none; position:relative; top:117px; left:-130px; right:113px; text-align:center;}*/
/*.menu .menu_1 a{display:block; padding:5px; background:#666; color:#fff;}*/
/*.menu .menu_2{display:none; position:relative; top:-10px; left:0; right:0; text-align:center;}*/
/*.menu .menu_2 a{display:block; padding:5px; background:red; color:#fff;}*/

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background: #dfdfdf;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    bottom: 18px;
    right: 0px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hamberger_btn{
    /*position: relative;*/
    /*right:10px;*/
    /*bottom: 10px;*/
    background: none;
    width: 30px;
    height: auto;
}

/* PC DOWN 버튼 */
#scrollDownPc {
    display: none;
    position: relative;
    bottom: 170px; /* 브라우저 아래쪽 끝에서부터의 거리 */
    cursor: pointer;
    z-index: 99;
}







.main_2{
    position: absolute;
    top: 753px;
    height: 753px;
    width: 1519px;
    background-color: green;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.swiper-container {
    height:360px;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform,-webkit-transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform, -webkit-transform;
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
    box-shadow:0 0 5px #555;
    max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
    /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
}





.main_3{
    position: absolute;
    margin-top: 1506px;
    height: 753px;
    width: 1519px;
    background-color: red;
}

.main_3 ul{
    list-style: none;
    padding:0;
    margin-left: 50%;
    margin-top: 50%;
}

.main_3 li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    float: left;
}

.main_3 li img{
    float:left
}

.book_tags{
    margin-top: 100px
}

.book_card_box{
    position: relative;
    margin-top: -70px;
    left:44px;
    top: 30%;
}

.book_card{
    margin-right: -160px;
    height: 350px;
    width: auto;
    clip-path: inset(5% 50% 5% 10% round 0%);
    float: left;
    border: #333333;
}
.book_card:hover{
    position: relative;
    /*width: 320px;*/
    height: 350px;
    left: -50px;
    clip-path: inset(0% 5% 4% 5% round 0%);
    z-index: 1;
}

.prev{
    height: 70px;
    width: auto;
}

.next{
    height: 70px;
    width: auto;
}








.main_4{
    position: absolute;
    margin-top: 2259px;
    height: 756px;
    width: 1519px;
    background-color: yellowgreen;
}

.contribution_list{
    position: absolute;
    left: 5%;
    top: 10%;
    height: 565px;
    width: 1367px;
}

.contribution_list table{
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.contribution_list th, td{
    border-bottom: 1px solid #444444;
    padding: 10px;
    width: 500px;
    height: 30px;
}

.move_page{
    position:absolute;
    z-index: 1;
    margin-top: 700px;
    margin-left: 700px;
    background: #ff8b77;
}

.move_btn{
    height: 30px;
    width: 25px;
    margin:-3px;
    /*border-radius: ;*/
    cursor: pointer;
}

