/*main.css*/

* {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
    list-style: none;
}
.frame{
    background-color: white;
    height: 3040px;
    z-index: -999;
}
.main_1{
    position: absolute; /* 22:55 */
    margin-top: 55px;
    /* 한 화면 세로 760px */
}
.main_1 img{
    height: 100vh;
    width: 100vw;
    /* background-image: url(../Main/books-2596809.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#describe{
    position: absolute;
    top: 10px;
    left: 350px;
    border-radius: 5px;
    border: 0;
}

#btn_group button{
    border: 1px solid rosybrown;
    background-color: rosybrown;
    color: white;
    padding: 10px;
    left: 650px;
    right: 650px;
    cursor: pointer;
}

#btn_group button:hover{
    color:rosybrown;
    background-color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 2;

    height: 15px;
    padding: 20px;
    color: black;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    position: absolute;
    top: 10px;
    left: 1100px;
    width: 270px;
    display: flex;
}
.search input{
    width: 50%;
    border: 1px solid rosybrown;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    right: 0px;
    padding: 6px;
    font-size: 14px;
    margin: 0;
}
.search img{
    position:absolute;
    width: 30px;
    top: 0px;
    left:145px;
    margin:0;
    cursor: pointer;
    background-color: rosybrown;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.menu:after{display:block; content:''; clear:both;}
.menu > li{position:relative; float:left; margin-right:5px;}
.menu > li > a{display:block; padding:0 15px; background:#333; height:40px; line-height:40px; color:#fff;}
.menu > li:hover .menu_1 {display:block;}
.menu > li:hover .menu_2 {display:block;}
.menu .menu_1{display:none; position:relative; top:117px; left:-130; right:113px; text-align:center;}
.menu .menu_1 a{display:block; padding:5px; background:#666; color:#fff;}
.menu .menu_2{display:none; position:relative; top:-10px; left:0; right:0; text-align:center;}
.menu .menu_2 a{display:block; padding:5px; background:red; color:#fff;}

.down_btn{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin-top: 300px;
    margin-left: 360px;
}

.main_2{
    position: absolute;
    margin-top: 809px;
    height: 100vh;
    width: 100vw;
    background-color: green;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.book_images_1{
    margin-top: 120px;
    margin-left: 20px;
    border:0px;
    /*height: 50px;*/
    /*width: 30px;*/
}

.book_image_1{
    border: 0px;
    height: 230px;
    width: auto;
}

.book_images_2{
    margin-top: 70px;
    margin-left: 20px;
    border:0px;
    /*height: 50px;*/
    /*width: 30px;*/
}

.book_image_2{
    border: 0px;
    height: 230px;
    width: auto;
}

.main_3{
    position: absolute;
    margin-top: 1562px;
    height: 100vh;
    width: 100vw;
    background-color: red;
}

.book_cards{
    position: relative;
    margin-top: 150px;
    margin-left: 25px;
}

.book_cards_2{
    height: 100px;
}

.book_card{
    height: 320px;
    width: auto;
    margin-right: -75px;
    margin-left: -70px;
    margin-top:10px;
    clip-path: inset(0% 21% 0% 21% round 0%);
    /*cursor: */
}

.prev{
    height: 70px;
    width: auto;
}

.next{
    height: 70px;
    width: auto;
}

.main_4{
    position: absolute;
    margin-top: 2316px;
    height: 100vh;
    width: 100vw;
    background-color: yellowgreen;
}

.contribution_list{
    position: absolute;
    margin-top:200px;
    margin-left: 635px;
}

.contribution_list th{
    background-color: white;
}

.contribution_list tr{
    background-color: white;
}

.contribution_list td{
    text-align: center;
}