 /* 출처: https://juve.tistory.com/157 [Forza Juve!:티스토리] */
.footer{
    border: 3px solid gray;
    margin:auto;
    width: 40px;
    text-align : center;  

}
#id_books{
    padding-left: 30px;
}
 .book{
    list-style: none;    
}

.div_bookpic{
    height: 200px;
}

.air{
    padding-bottom: 10px;
    padding-top: 30px;
    border-top: 4px solid skyblue;
    width: 750px;
}

.book_pic1{
    background-image: url("../../static/bookImages/01dream2.jpg");
    background-repeat: no-repeat;
    background-size: 130px;
    /* background-color: #f7f7f7f7; */
    /* border:1px solid #f7f7f7f7; */
    border-color: white;
    width: 130px;
    height: 200px;
    
    /* width: auto; */
}
.book_pic2{
    background-image: url("../../static/bookImages/01fully.jpg");    
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 200px;
}
.book_pic3{
    background-image: url("../../static/bookImages/01imagine.jpg");    
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 200px;
}
.book_pic4{
    background-image: url(../../static/bookImages/01midnight.jpg);    
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 200px;
}

.book_pic5{
    background-image: url(../../static/bookImages/01tonight.jpg);    
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 200px;
}

.result{
    padding-top: 100px;
    padding-bottom: 0;
    margin:0;
    margin:auto;
    text-align: center;
}


.paragraph{
    padding-left : 80px;
    margin-left: 80px;
}

.paragraph_fir{
    margin-top:90px;
}






























